[2021-02-22 08:39] mike-lloyd03 opened #1 "Fix Run Command"
Thanks for putting this together. Can you fix this line? There's a lot of extra spaces and it's unclear what should be in quotation marks and what shouldn't. Using a codeblock for the actual command that should be entered into the terminal should help clear this up.

[code]

[2021-02-23 17:23] changetotower opened #2 "Force Closes: Offline AND Online Error"
Hello. Many thanks for this workaround, highly appreciated. So far I got Fusion 360 opening, but it closes again with the initial error message that it cannot work offline (something like no data or storage available, although my 256GB disk is almost completely free) and it will try to connect to the internet. Thereafter I get the error that it could not connect to the internet either and the appl

[2021-02-24 13:29] cryinkfly commented on #2
Hello. :)

Can you explain to me exactly what are doing to run this program on your system snd it will be maybe good for me, when you can make a screenshot of it?

LG Steve

[2021-02-24 13:30] cryinkfly commented on #1
Ok. Thank You very much for this information. :-)

[2021-02-26 13:02] #1 closed

[2021-03-13 12:48] SphaeroX opened #3 "wine: cannot find 'C:windowscommandstart.exe'"
`14.) Run this command: env WINEPREFIX="/home/YOUR_USER_NAME/.wine" wine C:\windows\command\start.exe /Unix /home/YOUR_USER_NAME/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk (Here we opening the program Fusion 360 and this creating some files in our .Fusion360 folder.)
`

give the error

when i try the same with

**"**C:\windows\command\

[2021-03-15 15:43] pastatopf commented on #2
Hi,

I had the same issue.
I followed your list up to point 15. I was able to give my login credentials to fusion 360. But then afterwards I got this 'Fusion 360' Error message (it is in german, but I think this is no problem for you? :-)):
Fusion konnte leider nicht genügend Daten für den Offline-Modus speichern und benötigt eine Internetverbindung. Stellen Sie zum Fortfahren sicher, dass Sie übe

[2021-03-17 11:51] cryinkfly commented on #3
Your problem is, your command is wrong. ;)

Run this one: env WINEPREFIX="/$HOME/manuel/.wine" wine C:\\windows\\command\\start.exe /Unix /$HOME/manuel/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk

Now it should works for you. :)

[2021-03-17 12:16] cryinkfly commented on #2
Can you check, if you have installed these packages:

libc.so.6()(64bit)
libc.so.6(GLIBC_2.2.5)(64bit)
libc.so.6(GLIBC_2.4)(64bit)
libc.so.6(GLIBC_2.3.4)(64bit)
libc.so.6(GLIBC_2.14)(64bit)
libpthread.so.0()(64bit)
libc.so.6(GLIBC_2.3)(64bit)
libpthread.so.0(GLIBC_2.2.5)(64bit)
libm.so.6()(64bit)
libc.so.6(GLIBC_2.7)(64bit)
libm.so.6(GLIBC_2.2.5)(64bit)
libglib-2.0.so.0()(64bit)
libgobject-2.0.so.

[2021-04-02 16:15] pastatopf commented on #2
So far it seems that I have all of this libraries installed. But still getting the same error.

I noticed, that I can't ping anything, while being in the windows shell (see below). Can you try it from your side and tell me if you are able to ping google.com for example?

`osantiag@osantiag-power-linux:/etc/network$ ping google.com
PING google.com (216.58.212.142) 56(84) bytes of data.
64 bytes fro

[2021-04-07 12:27] cryinkfly commented on #2
Hey @pastatopf 😊,
I have tested this with my configuration and it works for me, when I ping maybe to google.com.

But I search at the moment for a solution. 😊

[2021-04-07 13:02] pastatopf commented on #2
Ok, so seems that we are on a good way. :-)

Can you copy paste the ping command and output here please, like I did in my post?

[2021-04-07 18:20] cryinkfly commented on #2
@pastatopf I have founded a solution, what can solved maybe also you problem. I have installed different linux distribution and some of these have doesn’t set correctly the hostname and the computer-name, but this is important for some applications when they run with wine. And on my production system I have configured this, because this is was important for me to get Flatpak apps to run on my syst

[2021-04-07 18:49] pastatopf commented on #2
@cryinkfly : I already have that in the mentioned files. This is how they look like on my computer. Do you think there is something missing?

`osantiag@osantiag-power-linux:~$ cat /etc/hosts
127.0.0.1	localhost
127.0.1.1	osantiag-power-linux

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnod

[2021-04-07 19:29] cryinkfly commented on #2
@pastatopf Which linux distribution and wine version did you use? 😊

[2021-04-07 19:58] pastatopf commented on #2
Linux Distribution: Ubuntu 20.04.2 LTS
wine-5.0 (Ubuntu 5.0-3ubuntu1)

[2021-04-07 20:10] cryinkfly commented on #2
Okay I check this in the next time. 😊👍🏻

[2021-04-08 09:42] cryinkfly commented on #2
Hi @pastatopf ,

I've already founded a few problems on Ubuntu. The first one is, that the wine version 5.0-3ubuntu1 have a problem to connect to the internet! So it's better when you change to another wine version that is older than this one.

![Bildschirmfoto vom 2021-04-08 08-05-17](https://user-images.githubusercontent.com/79079633/114002792-7b1fe380-985d-11eb-83ea-564a03ccff8e.png)
![Bildschi

[2021-04-08 11:13] cryinkfly commented on #2
@pastatopf Fusion 360 works also on Ubuntu 20.04.2: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/commit/c415bbc10f674a598b9393bfa0afb157a3ef92a9

Good luck :)

[2021-04-08 13:58] pastatopf commented on #2
@cryinkfly : Great News! Good work!

I tried it following your video, but still getting an error while starting. Which wine version did you use?

BR

[2021-04-08 14:04] cryinkfly commented on #2
I have installed the wine version 6.5 (staging), but you must select later thewine Version lutris.5.0... as your runner. 😊

[2021-04-08 14:10] pastatopf commented on #2
Oh sure, you are right. Lutris uses its own runner and not the one installed on my linux, right?

The issue is driving me crazy.
Possibly you are interested in a meeting via zoom to fix the issue with me together in a screen sharing session? Would that be ok for you?

[2021-04-08 14:23] cryinkfly commented on #2
😅 yes, Lutris have there own runners, what we can select to run a program without our basis wine version that is installed on our system.

... we can make this, but my english is not so good. 😅

I create a account for this now.

[2021-04-08 14:42] pastatopf commented on #2
Kein Problem, mein Deutsch ist auch besser als mein Englisch. :-)

Über Zoom? Siehtst du meine Emailadresse in Github?

[2021-04-08 14:45] cryinkfly commented on #2
😅 Nein.. ich sehe sie leider nicht.

[2021-04-08 14:52] pastatopf commented on #2
Du solltest jetzt eine Mail von mir haben.

[2021-04-08 15:09] cryinkfly commented on #2
I habe dir eine Anfrage geschickt. 👍🏻

[2021-04-08 15:15] pastatopf commented on #2
Hm, leider noch nichts angekommen. Ich hab dir auch mal eine Anfrage geschickt.

[2021-04-08 17:01] cryinkfly commented on #2
@pastatopf Ich hoffe, dass ich dir bei deinem Problem weiterhelfen konnte 😅

[2021-04-09 01:46] ElongatedYeet opened #4 "Unimplemented function in msvcp140_1.dll"
When I attempted to run the program, the loading screen appears before it crashes with this message in the terminal: `wine: Call from 000000007B01229E to unimplemented function msvcp140_1.dll._Aligned_get_default_resource, aborting`.

All methods that I have tried installing fusion 360 have resulted in a crash at this step.

[2021-04-10 10:02] cryinkfly commented on #4
Which Linux distribution and wine version do you use on your system? :-)
Can you show me a picture's, maybe?

LG Steve

[2021-04-10 10:03] #3 closed

[2021-04-11 04:12] ElongatedYeet commented on #4
I am using Arch Linux, with wine version 6.5.
Below is the full terminal log (it just hangs after the last message)
[USER@archlinux fusion360]$ env WINEPREFIX="/home/USER/.wine" wine C:\\windows\\command\\start.exe /Unix /home/USER/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk
0024:fixme:exec:SHELL_execute flags ignored: 0x00000100
0024:f

[2021-04-11 07:08] cryinkfly commented on #4
@ElongatedYeet Hi, nice distro 👌🏻

Okay, the first problem was I have saw is that you get a error:

![94B13E6D-B3C0-40E3-B34B-D0F29F80E583](https://user-images.githubusercontent.com/79079633/114295191-e22ed980-9aa3-11eb-8b39-52bd39ecbb77.jpeg)

You must install the „winbind“ package. 😊

Then it’s good to see that you use newest version of wine .🍷👍🏻 This version I use also on my system for testing.

[2021-04-12 05:57] ElongatedYeet commented on #4
I was able to get fusion 360 working open using Lutris and the tutorial that you posted. There are, however, now major graphical glitches, which make the program almost unusable. Thanks for helping so far.

[2021-04-12 08:53] dreamcat4 commented on #4
what type of graphical glitches did you see? are they related to the winbind?

[2021-04-12 10:04] ElongatedYeet commented on #4
The glitches include the logo flickering full screen when I move my mouse, the viewport disappearing when i click on menus, and some buttons remain on screen even if i exit the program.

[2021-04-12 11:01] dreamcat4 commented on #4
this is my issue too

[2021-04-12 11:57] cryinkfly commented on #4
Can you maybe send me a picture or video about it? :-)

[2021-04-12 13:04] dreamcat4 commented on #4
hey @cryinkfly..
haha the flickering is very fast, so it really needed to take a full video, to catch it. unfortunately i was too stupid to choose a compressed video format (sorry). so the videos are very large files (2.6gb + 1.9gb) my dropbox link (uploading forever):

* 1st video shows the issue
* 2nd video shows the config settings

https://www.dropbox.com/sh/fsnyv6a9nubse5u/AAAinp8-NIIx8ObCi-K

[2021-04-12 13:33] cryinkfly commented on #4
@dreamcat4 Thank you so much for these pictures. :-)
But I have found another way to use Fusion 360 without Lutris :D

Please wait ^^

[2021-04-12 14:50] cryinkfly commented on #4
Here is my video: [https://youtu.be/R-ev3dhNM98](https://youtu.be/R-ev3dhNM98) :-)

[2021-04-13 13:36] cryinkfly opened #5 "Create a Flatpak App for Fusion 360"
# Create a Flatpak App for Fusion 360

### Is there anyone here to, who can help me by creating a Flatpak App of Fusion 360 for Linux?
When you have some ideas and suggestions, then You can share this with me here.

![Flatpak_Fusion360](https://user-images.githubusercontent.com/79079633/114560377-ee19c780-9c6c-11eb-97e1-44c70b5ac65d.png)

[2021-04-13 13:39] #2 closed

[2021-04-13 13:57] dreamcat4 commented on #5
+1000

i think a container image is an excellent idea. the choice for flatpak is my preffered too, it seems best. however if that is too difficult then trying to make an appimage might be simpler process. just thing is appimage is not so good

either way it is a great idea, and really hope we can get some more people interested in this approach

another open question is how to permit fusion 360 up

[2021-04-13 14:01] dreamcat4 commented on #4
hey thanks for explaining about these things, like the wine staging and the win10 mode. unfortunately it does not address the graphics glitches. after trying

what i must do is get the wine logs messages in terminal. and try to see if there is any wine dlls error at the exact moment when the graphics background flickers (the fusion 360 splash screen, drawing problems)

then maybe will actually be

[2021-04-13 15:20] cryinkfly commented on #4
With this command you can create a log file:

env WINEPREFIX="/home/YOUR_USER_NAME/.wine" wine C:\\windows\\command\\start.exe /Unix /home/YOUR_USER_NAME/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk > wine.error.log

[2021-04-13 15:38] cryinkfly commented on #5
@dreamcat4

That’s not a problem for me 😅 ... but you are right with this problem:

... and so I think 🤔 ... it will be good maybe, when we create only a basis for Fusion 360 where is wine configured and the

... make the rest with the interaction by the user. 👍🏻

[2021-04-15 21:34] dreamcat4 commented on #4
Hello again @cryinkfly. Today I followed your ubuntu instructions to the letter. And using system wine, version 6.6 on ubuntu 20.04.

The steps I copied exactly this time. And good news! The flickering / glitching is gone. Which is not clear why it was. But perhaps could be investigated further now. Since I could try some extra things.

I did not go so far as to make an easy way to start fusion ye

[2021-04-16 08:31] mike-lloyd03 opened #6 "Manjaro Install"
Thank you so much for the work you've put into making this happen. I just ran through your install instructions and it works! I was able to get Fusion 360 up and running and I opened a model for some testing.

The graphics were very distracting with a flash every time I clicked in the 3D space. I opened a sketch and started clicking around and found the same problems. Overall, everything is a bit

[2021-04-16 08:49] dreamcat4 commented on #6
hello. i am investigating this bug. to try and find out what is the reason behind that. it might take a few more days

[2021-04-16 09:49] DragonHunter274 commented on #6
Did you disable dxvk after switching to opengl? For me that fixed the flashing issue
(also on arch linux)

[2021-04-16 16:05] cryinkfly commented on #6
@mike-lloyd03

when you have installed maybe a Nvidia graphics card on your system, then it’s a good option for you to install the CUDA libraries. 👌🏻

If you have configured this?

I testing a Proton version that works into a Flatpak-Runtime, but this doesn’t work at the moment correctly. ⚙️

... But at the moment I testing a way to change the memory query of wine, because this is important for th

[2021-04-16 16:17] dreamcat4 commented on #6
FYI you might find proton is bad idea for this application. Certainly it didn't work for myself

another thing i noticed (for my 2gb gt1030)... with limited GPU / video ram... when i maximize the workspace to 4k it crashed. Or maybe i just ran out of memory. But i should be upgrading my RAM soon to 64gb. If i can remember next time rebooting the machine

[2021-04-16 17:03] mike-lloyd03 commented on #6
I followed the guide and set the following:

[code]

How do I disable `dxvk`?

[2021-04-16 17:04] cryinkfly commented on #6
... and I must change my system in the future. 😅

[2021-04-16 17:06] cryinkfly commented on #6
@mike-lloyd03 Have you also change the graphics driver to OpenGL in Fusion 360? 😊

[2021-04-16 17:11] mike-lloyd03 commented on #6
Yes, I did. I also just noticed this funny little feature:

When I switch desktops, menus in the 3D space appear on every desktop!
![image](https://user-images.githubusercontent.com/49411532/115059873-028fd700-9e9c-11eb-8d71-37b8a9e299b3.png)

[2021-04-16 17:14] cryinkfly commented on #6
@mike-lloyd03 This is normally at the moment, but I search for solution. 👍🏻

[2021-04-16 17:16] mike-lloyd03 commented on #6
@cryinkfly Sounds good! I'm so thankful there's someone working on making this a reality! Much appreciated!

[2021-04-16 17:19] mike-lloyd03 commented on #6
Can you tell me how to do this? I don't see dxvk in my winecfg libraries.

[2021-04-16 17:42] cryinkfly commented on #6
@mike-lloyd03

You must deactivate d3d11, d3d10, d3d9 and dxgi.

[2021-04-16 17:43] mike-lloyd03 commented on #6
So setting this as per your directions is incorrect?

[code]

[2021-04-16 17:55] cryinkfly commented on #6
@mike-lloyd03 I was wrong. it doesn't work without these library settings. 😅🤦🏼‍♂️

[2021-04-16 18:09] cryinkfly opened #7 "Calculation (local) on your system dosn't work at the moment! (Simulation - Create a Study)"
At the moment you can only create a Study, when you calculating your Study with the Cloud-Option!
But I know this is a problem by wine and so testing different ways to solved this problem for the future. :-)

![Bildschirmfoto_2021-04-16_19-59-41](https://user-images.githubusercontent.com/79079633/115065799-e8331900-9eee-11eb-84cd-e4f8e6aaea9e.png)

![Bildschirmfoto_2021-04-16_19-59-50](https://use

[2021-04-16 18:09] dreamcat4 commented on #6
i have that problem too.... but that isnt the same problem as the background (or splash screen) flashing and glitching out whenever you click on a model object

those are 2 different issue

[2021-04-16 18:10] #4 closed

[2021-04-16 18:14] cryinkfly commented on #6
@dreamcat4

Can show me this with a picture, please? :-)

[2021-04-16 18:22] mike-lloyd03 commented on #6
@dreamcat4 I have this same problem. Let me see if I can make a video of it.

[2021-04-16 18:39] dreamcat4 commented on #6
screenshots

https://www.dropbox.com/sh/fsnyv6a9nubse5u/AAAinp8-NIIx8ObCi-KGLszoa?dl=0

[2021-04-16 18:49] mike-lloyd03 commented on #6
I tried to capture a video of it but basically, the screen is flashing either to black or to the Fusion360 logo on a white background. Frame rate is normally faster, just slow because of the gif.

![Peek 2021-04-16 11-47](https://user-images.githubusercontent.com/49411532/115070348-afbd1c00-9ea9-11eb-8aa6-a3b0f53a5a1c.gif)

[2021-04-16 18:54] cryinkfly commented on #6
@mike-lloyd03  Okay ;-)  I don't have this problem with Fusion 360 on my system.

[2021-04-16 19:59] mike-lloyd03 commented on #6
Yes you're looks to be working MUCH better than mine. It looks like @dreamcat4 and I are experiencing the same issue and we're both on Arch systems.

@dreamcat4 What desktop environment are you using?

[2021-04-16 20:34] dreamcat4 commented on #6
ubuntu 20.04, actually just give me a few days and i might be able to narrow it down a bit

[2021-04-16 20:36] mike-lloyd03 commented on #6
Oh my bad. It was @DragonHunter274 that is on Arch.

[2021-04-16 20:42] cryinkfly commented on #6
@mike-lloyd03: okay you use original system 👍🏻 Can you check if you have the same packages & versions like as by the current manajro version, please?

[2021-04-16 20:43] mike-lloyd03 commented on #6
I'm not sure what you mean but I just installed this OS last week so all the base stuff should be there. I haven't uninstalled any core packages.

[2021-04-16 20:48] cryinkfly commented on #6
It could be that there are differences somewhere. 😅

[2021-04-16 20:49] mike-lloyd03 commented on #6
I wouldn't know where to look for that.

[2021-04-16 20:58] cryinkfly commented on #6
You can check this with pamac (Tool) or with this command: pacman -Q > my_arch_packages.txt

[2021-04-16 21:06] mike-lloyd03 commented on #6
Oh yeah I know how to see what packages are installed. I just don't know how to compare that with what is normally installed by Manjaro without doing a clean install on another machine and generating the same list and diffing the files.

But like I said, I'm basically running on a clean install. It's only been installed for a week. I have a feeling there's packages that are installed by default on

[2021-04-16 21:13] cryinkfly commented on #6
You are not alone with this problem, when you look to my instructions (Fedora and Ubuntu), then you see it, that on these systems also missing some files.

[2021-04-16 21:15] mike-lloyd03 commented on #6
Yeah I guess Ubuntu is having the problem as well. But it looks like your OpenSuse system is running great. Perhaps there's something amongst your packages that might be the key?

[2021-04-16 21:21] cryinkfly commented on #6
Yes, you are right, but Manjaro works also great. 👍🏻

[2021-04-16 21:24] mike-lloyd03 commented on #6
Well, here's all my installed packages. Not sure how helpful this will be.

[packages.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6327930/packages.txt)

[2021-04-16 21:26] cryinkfly commented on #6
Okay, I check this for you in the next time. 👍🏻

[2021-04-17 12:01] cryinkfly commented on #6
Here you have the file, so that you can compare the packages with your system:

[manjaro-xfce-21.0.1_packages.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6329178/manjaro-xfce-21.0.1_packages.txt)

... then I have checked Fusion 360 on Manjaro again and it works without any problems. ;-)

[2021-04-18 06:51] mike-lloyd03 commented on #6
Okay I generated a list of all the packages you have installed that I don't. We're using a different desktop environment (I'm on KDE) so that could be part of it. Do any of these packages stand out to you as possibly being the culprit?

[missing_packages.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6330617/missing_packages.txt)

[2021-04-18 07:49] dreamcat4 commented on #6
Hello, I have not looked into the problem yet. But will start today. In the meantimes here is CORRECT winecfg (for ubuntu 20.04, clean install, per Cryinkfly instructions for ubuntu, with the wine 6.6 staging). So if your differs it's something to look at. OK ?

![](https://i.imgur.com/fkOoRqf.png) ![](https://i.imgur.com/cdXFqxI.png)
![](https://i.imgur.com/AyY6ohw.png) ![](https://i.imgur.com/UM

[2021-04-18 08:36] dreamcat4 commented on #6
ok so here is what i found so far:

when using the system winetricks, this version is installed by the winehq-staging packages from WineHQ repo (on ubuntu). That is wine staging 6.6... it is this version

[code]
so with this above ^^ default version of winetricks staging. Then you see the above wine libraries in my previous post here above ^^. And that seems CORRECT and works well. There is NO GLI

[2021-04-18 08:40] dreamcat4 commented on #6
So what exactly changed to BREAK the fusion-360 ? Well IDK yet EXACTLY. However it is probably 1+ of these wine libs, see screenshots link here:

https://imgur.com/a/2vgZtkc

Still investigating this issue further

[2021-04-18 08:49] cryinkfly commented on #6
@mike-lloyd03 Okay, I have checked Fusion 360 on Manjaro with the KDE destktop enviroment and the program dosn't work.
But I have checked this without a installation!

[manjaro-kde-21.0.1_packages.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6330792/manjaro-kde-21.0.1_packages.txt)

---

 @dreamcat4 Very good job!!!

It's correct that you don't set these libraries?

- d

[2021-04-18 08:57] dreamcat4 commented on #6
correct, i did not set them.

OK so i took the broken install (just now). and compared those 2 lists of wine libs inside the `winecfg`. And the newer winetricks installed a whole bunch of directX or `d*` names for those extra graphics libraries. for directx 9, 10, 11 etc.

So I just deleted all of the names starting with the letter `d*`. And that left me with a list of winelibs that is back to ori

[2021-04-18 09:02] cryinkfly commented on #6
The problem at the moment is, that Fusion 360 need some DLL's from the DXVK (winetricks) and so we must check a way, where we can solved this.

[2021-04-18 17:11] dreamcat4 commented on #6
hello again. indeed you are correct... we need dxvk (winetricks) dlls installed otherwise fusion cannot launch.

however i still cannot fathom why this is happening. still only know as much as from this morning... the winetricks from winehq staging. And also delete all libraries in `winecfg` that start with `d*`. After switching the fusion preferences to `OpenGL` graphics mode

[2021-04-18 17:36] cryinkfly commented on #6
@dreamcat4 Ah ... now I know what you mean. I had stated in my instructions that the libraries did not have to be used.
... so I have changed my instructions.

Sorry ;-)

[2021-04-18 18:52] dreamcat4 commented on #6
heck you know what? maybe there is a small clue (after all). i think i noticed that after 'disable' all the `d*` graphics libs, then they were not 'removed'. but all 'disabled'. Then fusion would not launch for missing DLL (cannot find them). well one of the missing DLL was something `qt5`....

so it seems like for some reason it needs qt5 to run. And that can be a good clue because other QT5 apps

[2021-04-18 22:27] mike-lloyd03 commented on #6
Okay I generated a list of all the packages you have installed that I don't. We're using a different desktop environment (I'm on KDE) so that could be part of it. Do any of these packages stand out to you as possibly being the culprit?

[missing_packages.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6332337/missing_packages.txt)

[2021-04-18 22:29] mike-lloyd03 commented on #6
KDE is built with QT5 so I should have any requisite QT5 libraries installed.

[2021-04-19 15:02] pastatopf commented on #2
It is working now on my system.
Thanks to @cryinkfly for your great support. Finally following your last [youtube tutorial](https://www.youtube.com/watch?v=R-ev3dhNM98&t=7s) worked for me.

Additionally I wrote the attached script to execute the steps described by @cryinkfly. I attach it to this post, this makes the installation steps more reproducable.

`cd ~

sudo apt-get update
sudo apt-get upg

[2021-04-20 11:33] cryinkfly commented on #2
@pastatopf I am glad that it's now working for you too.

[2021-04-20 11:39] cryinkfly commented on #6
@dreamcat4

... very interesting. 👍

@mike-lloyd03

Could it also be that something else is configured somewhere with you than with Manjaro that is the case?

[2021-04-20 11:54] dreamcat4 commented on #6
err.. what i was saying is because fusion360 loads certain graphics dlls for the gui, you can see them if you scrolls down from here

https://doc.qt.io/qt-5/windows-deployment.html#linking-the-application-to-qt-as-a-shared-library

and because the qt5 project has something huge like 3000 open bugs on its issues tracker. and is known for graphics glitching like we have been seeing. so maybe a compl

[2021-04-22 08:17] dreamcat4 commented on #6
quick question - do you have multiple monitors @mike-lloyd03 ? do you have an nvidia gaphics card? just curious as i do have that setup here myself. but i don't think it's the issue! ...because after unplugging the 2nd monitor, and relaunching fusion with only 1 monitor. then bug still appears just the same. just wanted to rule that one out as a possibility

[2021-04-22 09:32] dreamcat4 commented on #6
@cryinkfly can you please run the following 2 simple commands in four ubuntu 20.04 wineprefix? Or perhaps you don't have it anymore. then in your current fusion360 install (on other distro)

[code]
thanks

[2021-04-22 11:57] dreamcat4 commented on #6
A good day today!

ok @cryinkfly i have been experimenting some more, and now is found the 'best current known solution' for avoiding this bug. So can you update your instructions, please for this is minor change! But it really helps.  Here in the following step

Replace this step:

[code]

With this new instruction:

[code]

so what does this do? Well it appears to override the `d3d11.dll` from t

[2021-04-22 12:54] mike-lloyd03 commented on #6
I do have an nvidia graphics card but only one monitor (built in laptop monitor).

[2021-04-22 13:03] dreamcat4 commented on #6
ok thanks it doesnt matter. see my previous last comment here for the solution

https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/6#issuecomment-824775900

[2021-04-22 13:43] cryinkfly commented on #6
Sorry for barely reporting back the days.

@dreamcat4 I changed the library's on my system (openSUSE Leap 15.3), but it doesn't work.

https://user-images.githubusercontent.com/79079633/115723279-18ac0480-a380-11eb-9182-f869d52bed95.mov

---

winetricks list-installed

Winetricks version: 20210206
winetricks list-installed:

- andale
- arial
- comicsans
- courier
- georgia
- impact
- times
- trebu

[2021-04-22 14:32] cryinkfly commented on #6
@dreamcat4

here was the smoking gun i eventually saw, using this command ps -aux | grep -i qt... because it showed up these running background processes. you can see in the program arguments, that fusion developers are spawning this task with the compatibility flag **AdCefWebBrowser.exe --disable-d3d11**

![#1 1_AdCefWebBrowser_disable](https://user-images.githubusercontent.com/79079633/115730709

[2021-04-22 15:20] dreamcat4 commented on #6
ok thanks. It seems that when you set 'disable' on dlls... it does in fact only partially disable the dll. What happens is that the dll cannot be loaded anymore when the program starts up. However for some weird reason (or bug whatever). The 'disabled' dll is still 'detected' or noticed by fusion360. So this is a problem you will see in the terminal... fusion log will say `err: something dll not f

[2021-04-22 15:26] cryinkfly commented on #6
### I have found this:

**If you use Wine under XWayland, you can activate the option for "Emulating a virtual desktop" in the Graphics Tab in winecfg, to avoid problems with:**

    flickering
    wrong window location
    wrong mouse cursor location and clicks
    keyboard detection

[2021-04-22 15:36] dreamcat4 commented on #6
how do you use wayland with nvidia GPU ? is that with the noveau drivers? or because of intel IGP / optimus on your laptop? Because with my system the wayland option has been disabled now. For me with proprietary nvidia graphics driver

[2021-04-22 15:38] cryinkfly commented on #6
No no .... ^^ I don't use wayland ;D

[2021-04-23 05:24] mike-lloyd03 commented on #6
@dreamcat4 you steely eyed wine man! I changed d3d11 and dxgi to builtin and it works! Pretty smooth as well! I'm still getting the floating menus across all my virtual desktops however.

I wasn't sure what to do with the other DirectX libraries so this is what I currently have set:
[code]

Is this right?

[2021-04-23 06:07] cryinkfly commented on #6
@mike-lloyd03 Yes, your configuration is right. :-)

### Update: I have changed my manual!

[2021-04-23 08:22] dreamcat4 opened #8 "How to apply OpenGL setting before 1st launch"
Hey again @cryinkfly
I noticed that you tried to append an `-opengl` cmdline flag to the wine command, or to windows shortcut `.lnk`. However that did not work for me.

So yesterday Beyond Compare to folder diff the whole C drive. After changing the OpenGL option in preferences. And found out how to do this.

Here the linux commands, to just copy-paste into your linux terminal. This will create in

[2021-04-23 09:50] cryinkfly commented on #5
## Good news!!!

I solved the installation of Fusion 360 into a Flatpak App, but I must configuring some files. 😊👍🏻

[2021-04-23 10:05] cryinkfly commented on #8
@dreamcat4 Have I now understood correctly that it works on your system?

... when you have installed:

[2021-04-23 10:12] dreamcat4 commented on #8
it works too with your latest ammeded instructions. however if you don't need to install dxvk at all (for opengl mode)... then it saves certain extra steps. and having to reboot fusion360 multiple times. or launch other gui stuff

so the only remaining 'interactive' steps is installing the microsoft .net frameworks, and the microsoft msxml library. which unfortunately IDK / cannot think of a good

[2021-04-23 10:22] cryinkfly commented on #8
@dreamcat4 Can you give me a step by step manual of your way again, so I can test this with my Flatpak version of Fusion 360 😊

[2021-04-23 10:25] dreamcat4 commented on #8
sure!
i shall be working on that during today. it is mostly the same as your instruction for ubuntu 20.04 / mint. just with a few of the steps changed

And i shall open a new issue for discussing the other graphics bug

[2021-04-23 10:28] cryinkfly commented on #8
Okay. Thank you very much!

[2021-04-23 10:42] dreamcat4 opened #9 "Fusion launchs with toolbars always on top *solved*"
The problem was first mentioned here:

https://gist.github.com/probonopd/0fab254aa0b6fc371d8db641822bd530#gistcomment-2887370

![Screenshot from 2021-04-23 11-38-01](https://user-images.githubusercontent.com/63074/115859984-c96dde80-a428-11eb-9b7b-1e09663a9a31.png)

So this issue is for to discuss, what is the best way around this problem. And what things we can do about it. Just trying some ideas

[2021-04-23 10:54] dreamcat4 opened #10 "Unclean shutdown, crashes on exit *solved*"
Hello, I'm not sure if anybody else has this same problem. However when i close Fusion, it will always crash during the exit. Here is an example:

![Screenshot from 2021-04-23 11-47-59](https://user-images.githubusercontent.com/63074/115860804-f1117680-a429-11eb-8c35-d66a09f881a4.png)

And sometimes i get the same error during launch process. It will say double free tache2...

IDK why it happens t

[2021-04-23 11:01] dreamcat4 commented on #9
It does not look like there is any GUI setting in preferences. To just turn off these panels during launch time. That would have been a good workaround.

As it says in main gist, he was clicking on the toolbars to interact with them. However sometimes you click on the toolbar, and it does not work. Like it cannot be clicked. I noticed this problem.

So the best work around ATM is to toggle the 'br

[2021-04-23 11:02] dreamcat4 commented on #9
So we should also raise a bug report to Autrodesk themselves. To fix this problem in a future updates. However IDK how to raise the bug report (yet). That will have to be later. Too busy right now to look into it

[2021-04-23 11:14] cryinkfly commented on #9
I have a idea 💡

Create a bash script, that start Fusion 360 and after this comes the commands:

 ctrl+alt+b (2x)
ctrl+alt+n (2x)

[2021-04-23 11:53] cryinkfly commented on #10
You can run this command: wineserver -k

[2021-04-23 13:05] dreamcat4 commented on #9
yes! maybe a tool like autohotkey (but for linux). So the bash script should watch the logfile output from fusion360. And once it detects a certain string in the logs output. To know that fusion has finished booting. Then it can automatically invoke the window (make active window). To send the necessary keyboard shortcuts

[2021-04-23 13:23] dreamcat4 commented on #6
if you set the Watch notifications button here to "All activity", then you will be notified for new issues. Because we have opened some seperate issue for that bug now. You can see the discussion over on the other issue page. Many thanks

[2021-04-23 15:14] dreamcat4 commented on #9
+

[code]

However now i notice it does not begin to work, until you also click the browser with a mouse click also. So the original commenter in the gist was right.... we still need to do at least 1 'mouse click' at the end. which is not so nice.

Overall it's not terrible. Only takes a moment each launch. However we should also raise the bug report to autodesk developers too. So that they can ha

[2021-04-23 16:58] cryinkfly commented on #5
Here can your read more about one of my way's to get Fusion 360 to run with Flatpak: https://github.com/PhoenicisOrg/phoenicis/issues/2389

[2021-04-23 17:04] dreamcat4 commented on #5
Great @cryinkfly i do hope the flatpak will be possible. Thanks I shall read the link here.

In the meantime I have pushed some new changes for instructions on my fork you can see here. For the way how I do headless install on regular ubuntu (no flatpak), is just copy-paste all the commands in 1 step. All into an open linux terminal window. Then leave it to complete. And it pops up the login scree

[2021-04-23 18:26] cryinkfly commented on #5
@dreamcat4
### Thank you so much for your help!!! :-)

It just takes a lot of time and so I know what you mean. ;-)

At the moment it could be difficult to get graphics cards (Corona, etc.), but I search also for new hardware. ;D

---

So I have added one of my way's to running Fusion 360 with Flatpak, but it dosn't work at the moment. ;-)
I have also added your instruction:

![dreamcat4_help](htt

[2021-04-23 18:28] cryinkfly commented on #9
I'll get in touch with Autodesk in the near future. :-)

[2021-04-26 15:59] plata commented on #5
You might want to take a look at:
https://github.com/Heroic-Games-Launcher/HeroicGamesLauncher/issues/6
https://github.com/plata/phoenicis-app-flatpak-generator

[2021-04-28 09:55] cryinkfly commented on #5
@plata Ok. Thanks. :-)

[2021-05-04 20:31] yonatan8070 opened #11 "Getting a ton of errors and not much else when running"
When I run Fusion using `env WINEPREFIX="/home/yonatan/.wine" wine C:\\windows\\command\\start.exe /Unix /home/yonatan/.wine/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk` I get the following output:

[code]

What can be done to resolve that? Is it a mistake I made or another issue?

[2021-05-05 15:19] cryinkfly commented on #11
@yonatan8070 Hello 😊

Can you tell me more about your way of the installation (Linux Distribution, …), please?

I see that you use the wine-staging version and I can see, that Fusion 360 will be use DirectX 11 and another files.

Do you like to install Fusion 360 with DXVK?

[2021-05-07 13:21] Tony763 opened #12 "Latest installer use Python3.7"
Hello, I just downloaded a Fusion 360 installer and it seems to use python 3.7 so fix with downloading `platform.py`
is not working or need a change.

[code]

[2021-05-09 12:45] cryinkfly commented on #12
@Tony763 Okay 👍 Thanks for your report.

[2021-05-09 12:50] #8 closed

[2021-05-09 14:50] Tony763 commented on #12
Just to confirm, I just made a fusion working and installer do not need platform.py downloading nor changing.

[2021-05-09 15:22] cryinkfly commented on #12
Okay 👌, I check this later.

[2021-05-09 20:47] #12 closed

[2021-05-09 20:49] cryinkfly commented on #7
## The simulation workspace works now!

Here you can read more about this: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/releases/tag/v2.0

[2021-05-09 20:50] #6 closed

[2021-05-09 21:58] dreamcat4 commented on #12
awesome! :+1:

[2021-05-09 22:15] vintagepc commented on #11
a similar wall of DLL errors. winetricks kept breaking the wine prefix on installing vcrun2017. It would fail with error 53 and then the bottle would be broken to the point that even winecfg won't launch anymore and similarly spam errors about missing files (though runtime related in this case)

[2021-05-09 22:16] vintagepc commented on #9
This is caused by https://bugs.winehq.org/show_bug.cgi?id=45277

[2021-05-10 10:38] cryinkfly commented on #11
@vintagepc Okay, can you tell me, if you use the latest winetricks version?

... and will be good for me, when you make a screenshot of them ... :-)

[2021-05-10 10:38] cryinkfly commented on #9
@vintagepc I check this out. :-)

[2021-05-10 12:39] vintagepc commented on #11
[code]

[code]

and after that, running winecfg gives the same wall of errors followed by:

[2021-05-10 12:44] vintagepc commented on #9
The workaround I've been using (back when F360 didn't crash after login for me) is to configure wine for a virtual desktop, that way these mini-windows are contained and can't overlay other things.

[2021-05-10 12:45] dreamcat4 commented on #11
it looks like you have some libraries set to `disabled` in winecfg GUI tool. thing is that fusion still sees that the `.dll` exist, and then tries to load them up. However loading fails (blocked)

[2021-05-10 13:08] cryinkfly commented on #11
@vintagepc Is that correct, that you use openSUSE Leap 15.2?

… you can install vcrun2015, when vcrun2017 dosn‘t work for you.

Have you tested this also with downloading the newest winetricks Version, where you run this with a file like this: sh winetricks corefonts … ?

[2021-05-10 13:11] vintagepc commented on #11
Yes, that is correct. I'll give it another go with F360 tonight. I'm flipping between trying to get either one of my CAD packages working again in WINE so I can ditch my VM. :)

(WINE 6.8 has also made great leaps in support for SolidEdge (also free for hobbyists from Siemens) but alas it still crashes when trying to open a file or create a new one :( )

[2021-05-10 13:34] cryinkfly commented on #11
Okay. 😊 Then it‘s better, when you use wine from the standard repo (wine 5.0), then on openSUSE Leap 15.2 work this. 👌

[2021-05-10 23:44] vintagepc commented on #11
Latest winetricks solved my initial problem and it launches. However, now the Fusion 360 logo remains stuck on the canvas and it isn't usable - regardless of whether I try DX9 or OpenGL. :(

[2021-05-12 05:35] cryinkfly commented on #11
@vintagepc Did I understand correctly that you have a system with two graphics cards (internal & external)?

Can you tell me more about system, then we can find a solution for you and another persons they have the same problems. :-)

---

No I'm not a WINE developer at the moment. ;-)

... and I'm just someone who doesn't like to see programs like Autodesk Fusion 360 supported on Windows and MacOS

[2021-05-12 08:02] dreamcat4 commented on #11
Please try again ONLY on a single dedicated graphics (either intel or nvidia or amd). Not going through optimus. And see if the issue still occurs. Optimus is known for being pretty buggy.

The problem you are describing here sounds a lot like issue #6, if it also includes FLICKERING too. Then the solution was found to be 'no vxvk', or changing the libraries in winecfg to be `builtin` (in addition

[2021-05-12 08:13] cryinkfly commented on #11
@dreamcat4 Very well explained!!! :-)

[2021-05-12 08:40] lord-x-type opened #13 "Runnig Startscript results in file not found. *solved*"
Running you fusion360-start.sh results in an:
`file not found` Error.

I changed the code line form:
`env WINEPREFIX="/$HOME/$USER/.fusion360" wine C:\\windows\\command\\start.exe /Unix /$HOME/$USER/.fusion360/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.link`

to
``env WINEPREFIX="/$HOME/.fusion360" wine C:\\windows\\command\\start.exe /Unix /$HO

[2021-05-12 08:53] cryinkfly commented on #13
@lord-x-type Thank you for this report!!! :-)

I have changed this in my script: "fusion360-start.sh"

[2021-05-12 08:54] #13 closed

[2021-05-12 11:10] vintagepc commented on #11
I can confirm the Fusion logo is *not* flickering.

My system is an MSI GE70 which has both intel and a GeForce 660M.  So far the 660M has been completely out of the picture - I was simply observing that I seem to recall that I could not get things to work with the integrated graphics previously when things did work for me.

Interesting observation: If I disable d3d11 then I get the pile of Qt err

[2021-05-12 11:21] vintagepc commented on #11
Additional update: I re-did the dxvk configuration and now it seems to have fixed the issue; I can see the canvas and create a sketch etc.

[2021-05-14 10:24] bbernhard opened #14 ""ContentService.dll" failed to initialize"
Hi,

I've just installed Fusion360 with the `fusion360-install.sh` script on my Lenovo T460s with a freshly deployed Ubuntu 20.04 (not sure yet if this laptop will be powerful enough for Fusion360, but I want to give it a try. Up to now, I am using a Dell laptop with similar specs with Windows 10 for Fusion360 and it works pretty well). But unfortunately when I try to start the application, it fai

[2021-05-14 11:03] dreamcat4 commented on #14
type winecfg with the $WINEPREFIX set to the fusion360 wine prefix folder
click libraries tab
it lists all the installed wine dlls there
as for what they are right now, you need to scroll the list and post some screen grabs here

seeing that might help to identify any configuration issue

[2021-05-14 11:37] bbernhard commented on #14
Thanks for your quick reply!

Are there any specific DLLs you are particularly interested in?

I can of course screenshot all the installed DLLs, but this will probably end up in a lot of screenshots (~10-20 screenshots).

[2021-05-14 12:19] cryinkfly commented on #11
@vintagepc That's nice that's now working for you.

[2021-05-14 12:19] #11 closed

[2021-05-14 12:36] cryinkfly commented on #14
@bbernhard Go into your $WINEPREFIX and there you can a file "_user.reg_".

In this file you must scroll down to [Software\\Wine\\DllOverrides] and there you can see a list of your DLL's. :-)

---

This is my list:

"*api-ms-win-crt-conio-l1-1-0"="native,builtin"
"*api-ms-win-crt-heap-l1-1-0"="native,builtin"
"*api-ms-win-crt-locale-l1-1-0"="native,builtin"
"*api-ms-win-crt-math-l1-1-0"="native,bu

[2021-05-14 15:55] bbernhard commented on #14
Thanks for your help!

I just had a quick look and there are no DLLs listed inside the `[Software\\Wine\\DllOverrides]` section. Should they be there after running `fusion360-install.sh` or do I have missed a step in the README?

[2021-05-14 17:20] cryinkfly commented on #14
@bbernhard Okay. It‘s so, when you use my file fusion360-install.sh , then you get the newest wine and winetricks version.

… and with winetricks you get all these DLL‘s. 😊

[2021-05-14 19:35] cryinkfly commented on #5
Autodesk Fusion 360 works now into a Flatpak-Runtime: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/releases/tag/v2.2

[2021-05-14 20:40] #5 closed

[2021-05-14 23:09] dvilker opened #15 "Broken installation in russian locale *solved*"
Try to start after installation and get message box "Путь не найден" (Path is not found).
Run scripts with LANG=en_US.utf8 is workaround this issue.

P.S.
In fusion360-start.sh instead ".../$HOME/$USER/.fusion360..." there should be ".../$HOME/.fusion360...". $HOME already contains user name.

[2021-05-14 23:11] dvilker commented on #15
P.S.S. Today you are is the greatest man of the day! Thank you for you work!

[2021-05-15 04:31] cryinkfly commented on #15
@dvilker You're welcome! 😊

Run scripts with LANG=en_US.utf8 is workaround this issue.

Thank you for this report! 👍

[2021-05-15 04:39] #15 closed

[2021-05-15 07:21] bbernhard commented on #14
It's also empty (see attached screenshot)

![Screenshot from 2021-05-15 03-05-33](https://user-images.githubusercontent.com/5710631/118351577-227aef00-b55d-11eb-8fd9-f3811a9d3d92.png)

Stupid me. I just realized that I was looking at the `New Override for library` all the time (that's the list I wanted to screenshot when @dreamcat4 asked me to), but it's actually the `Existing Overrides` that are

[2021-05-15 08:17] cryinkfly commented on #14
Can you go to your folter Downloads an run this command: WINEPREFIX=~/.fusion360 sh winetricks corefonts vcrun2017 msxml4 win10

Then you must see all the DLL‘s.

—-

Yes you can!!! 👍 This is also a way for users they have deleted the DLL‘s or so. 😅

[2021-05-15 08:42] cryinkfly opened #16 "warning: Note: command wine regedit /S C:\windows\Temp\override-dll.reg returned status 53. Aborting. *solved*"
When you get maybe this error:

... then you must delete your WINEPREFIX folder and install Autodesk Fusion 360 again. OR
... delete the winetricks file and download this file again.

This mistake can happen. ;-)

[2021-05-15 08:42] #16 closed

[2021-05-15 21:23] dvilker opened #17 "Drawing Workbench dosn't work *solved*"
Trying to create Drawing of some and get error message:
Fusion 360 drawings cannot launch...

![image](https://user-images.githubusercontent.com/16972704/118378430-84c70480-b5dc-11eb-84a2-7e67ed02923a.png)

[2021-05-16 07:02] bbernhard commented on #14
Awesome, that worked great - Fusion360 is now starting!

Many thanks for your your help on this!

[2021-05-16 07:02] #14 closed

[2021-05-16 08:03] cryinkfly commented on #17
@dvilker Yes I know. :-) That's the reason why you can read this in my README.md :D

![Bildschirmfoto_2021-05-16_09-59-02](https://user-images.githubusercontent.com/79079633/118390052-5faeb200-b62d-11eb-826d-25499c68bd54.png)

---

But I'm already in the process of solving this problem. :-)

[2021-05-16 08:28] cryinkfly opened #18 "The Python version plays an important role!"
### The Python version plays an important role!

Now, we dosn't need this step anymore, because every Linux distribution uses a newer Python version now and so I think it's also important to check also a newer Python version with Autodesk Fusion 360 here on Linux. :-)

![Bildschirmfoto_2021-05-16_10-20-35](https://user-images.githubusercontent.com/79079633/118390625-5f63e600-b630-11eb-826b-e2768e3

[2021-05-16 11:26] cryinkfly opened #19 "Wine: Force OpenGL mode in Autodesk Fusion 360 *solved*"
### Force OpenGL mode in Autodesk Fusion 360

For example:

---

I have checked Autodesk Fusion 360 with this OpenGL mode and it feels like so, that the program is running faster on my systems!

It would be nice if you could try it out and tell me what you think about this. ;-)

Thank you for your help! :-)

[2021-05-16 11:36] cryinkfly commented on #17
This is the current problem:

https://user-images.githubusercontent.com/79079633/118395611-8c71c200-b64b-11eb-8fee-ca0e3d95daa0.mov

[2021-05-17 18:41] lord-x-type opened #20 "Question: flatpak vs normal wine / performance"
Hi,
i Tried to work with fusion 360 in wine, but the performance is so bad... Is this related to my system or as a matter of wine itselfe.if i try to launch it..it takes up to 3 minutes. And actions within Fusion take realy long too.
 Would it run better in flatpak?
Or what would be the benefit oft flatpak vs pure wine?

Are there any performance tweeks i could usw in my System?
Nvidia GTX 960
32G

[2021-05-17 19:53] cryinkfly commented on #20
Ok, when you work with Autodesk Fusion  360 in wine, then it’s normally that it takes so long to start at the moment, but when it opened, then I can work without any performance problems.

If you have installed the newest graphics driver?

When the answer is 👍, then it can be a good idea for you to install also the Nvidia-CUDA-Toolkit on your system and the performance again!

On my system I have

[2021-05-17 20:08] lord-x-type commented on #20
Ok, thanks for your advice!
I will try installing cuda.:)
Not at home for the next two weeks, but following your work with high interess!
At the last try..i had probs using the flatpak installer..it gave me a checksumm error every time on installing mono..strange...starting fusion was not possible too.
But i think the problem is on my side.

Glad to see your code grow nearly every day  :)

Thanks.

[2021-05-18 04:52] cryinkfly commented on #20
But i think the problem is on my side.

I had never had this problem before. 😅

But if the problem persists with the checksum later, then we can this solve together. 👌

That's a good idea. 👌

See you later too. 😊

[2021-05-18 23:12] Judoguy12 opened #21 "Sign in Failure"
On fedora 34 it loads but I get a popup saying sign in failed contact support

[2021-05-19 04:05] cryinkfly commented on #21
@Judoguy12 Okay, can you tell me more about your system, please? 😊

Then I have tested the installation again and it works on Fedora 34 without any problems.

[2021-05-19 05:29] cryinkfly commented on #17
Here can you see, what's happened, when I will change the workspace: [error.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6506080/error.txt)

[2021-05-19 07:05] Judoguy12 commented on #21
that's gone away now but it fails to connect to the internet when its loaded so can't load any of my online designs. Its fedora 34 on a Lenovo Yoga C740

[2021-05-19 07:27] lord-x-type commented on #21
Hi, had the same problem.
 Have you tried installing
winehttp
With winetricks in your environment?
This and the command:

sudo setcap cap_net_raw+epi /usr/bin/wine-preloader

Did the trick for me :)

See:

https://wiki.winehq.org/FAQ#Failed_to_use_ICMP_.28network_ping.29.2C_this_requires_special_permissions

I hope this helps :)

[2021-05-19 07:36] cryinkfly commented on #21
No, I have only installed Fedora 34 again on my system and after the installation I have activated the Nvidia-Repository.
Then I have installed the newest driver and install Autodesk Fusion 360 with my ![Installation-Script](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/scripts/fusion360-install.sh)

---

![Bildschirmfoto_2021-05-19_09-35-48](https://user-images.githubuse

[2021-05-19 07:40] Judoguy12 commented on #21
I could install winehttps but setcap errors with failed to set capabilities on file 'wine-preloader' (Invalid Argument)

Sent from ProtonMail mobile

-------- Original Message --------
On 19 May 2021, 08:27, lord-x-type wrote:

[2021-05-19 07:46] cryinkfly commented on #21
@Judoguy12 Can you check, if you can see these DLL's: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/14#issuecomment-841216400

[2021-05-19 10:29] etinaude opened #22 "Thank you for your work! *solved*"
I've been trying to get fusion running on Linux for ages and it finally worked. Thank you so much!

[2021-05-19 10:54] cryinkfly commented on #22
You are welcome. 😊

[2021-05-19 18:52] dvilker commented on #22
I joined! Thank you man!

[2021-05-19 19:33] lord-x-type commented on #22
Love this project too!
Tryed to install fusion with an old tutorial for wine..3 years ago.. It worked, but was very ..unconfortable.

Now with your scripts.. It is super easy and i want to say thanks too!
Nice work :)

[2021-05-19 20:53] Judoguy12 commented on #21
[Software\\Wine\\DllOverrides] 1621409851
#time=1d74c81d3a74d04
"*winhttp"="native,builtin"

this is all I have

[2021-05-19 21:01] cryinkfly commented on #21
Okay, if I got that right, then you must run this command:

[2021-05-20 07:07] Judoguy12 commented on #21
Apparently there is no fusion 360 folder

Sent with [ProtonMail](https://protonmail.com/) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Wednesday, May 19th, 2021 at 22:01, Steve Zabka ***@***.***> wrote:

[2021-05-20 07:43] midtbo opened #23 "Fusion 360 doesn't connect with cloud *solved*"
Hi,
Great work making fusion work on linux!
I installed it on Debian 11 and it worked right out of the box. Now i have installed it on Ubuntu 21.04.
It seems to be some problem refreshing online files now, i manage to log in.

"Having difficulty establishing a connection. We'll keep trying."

I have checked that i do have all the DLL's, and i manage to ping if i run wine cmd ping etc.
![screen](ht

[2021-05-20 14:25] cryinkfly commented on #23
@midtbo  Please do these steps. :-)

![Bildschirmfoto_2021-05-20_16-23-23](https://user-images.githubusercontent.com/79079633/118995858-c282af00-b987-11eb-908a-158918e3d371.png)

[2021-05-20 14:41] cryinkfly commented on #21
@Judoguy12 Okay. ;-)

The best way is you start all over again! :-)

The first one you check if your system is up to date!

Then you do this steps here:

![Bildschirmfoto_2021-05-20_16-23-23](https://user-images.githubusercontent.com/79079633/118995858-c282af00-b987-11eb-908a-158918e3d371.png)

When you have done that, you remove all these things into your Downloads folder: fusion360-install.sh, w

[2021-05-20 20:19] zmontross commented on #23
I'm having the same problem on Linux Mint 20.x.
My `/etc/hosts` file looks identical to that picture.

[2021-05-20 21:32] nyahwhy commented on #23
Same problem on archlinux (fusion works fine in virtualbox win10)

Tried with no luck:
- wine and wine-staging 6.8
- adjusting hosts & hostname didn't change anything
- $ sudo setcap cap_net_raw+epi /usr/bin/wine64-preloader
- Turned off ufw / vpn
- gnutls and lib32-gnutls are installed

[2021-05-21 10:25] midtbo commented on #23
Hi,
Added last line of hosts, but didn't help.
Same as the replies above. Really hope we can make this work!

[2021-05-21 10:55] dreamcat4 commented on #23
https://gist.github.com/probonopd/0fab254aa0b6fc371d8db641822bd530#gistcomment-3751654

[2021-05-21 11:39] KIRINN7007 commented on #23
What should I change in /etc/hostname?

[2021-05-21 13:24] cryinkfly commented on #23
Some Linux distribution doesn't configured this correctly!

... and this is the reason why I share this.

![network](https://user-images.githubusercontent.com/79079633/119143818-561bb480-ba48-11eb-8078-31c8e855bf42.png)

[2021-05-21 14:03] cryinkfly commented on #23
### As I already thought, packages are missing here again!

... and this is the reason, why I also testing Autodesk Fusion 360 with Flatpak. ;-)

![Bildschirmfoto vom 2021-05-21 15-54-45](https://user-images.githubusercontent.com/79079633/119149409-c842c800-ba4d-11eb-8e45-461ddee16dd9.png)
![Bildschirmfoto vom 2021-05-21 15-59-15](https://user-images.githubusercontent.com/79079633/119149416-c8db5e

[2021-05-21 18:11] cryinkfly commented on #23
### Here is the same problem on Windows with a solution:

https://forums.autodesk.com/t5/installation-licensing/fusion-360-doesn-t-connect-with-cloud/m-p/9392312#M237280

![Bildschirmfoto vom 2021-05-21 20-08-04](https://user-images.githubusercontent.com/79079633/119180207-46b06180-ba70-11eb-832b-c98d78136a64.png)

I signed out and signed back in:

![Bildschirmfoto vom 2021-05-21 20-05-30](https:/

[2021-05-21 19:57] cryinkfly commented on #9
I create a way with xdotool for this problem:

ctrl+alt+n (2x)

For more information: https://www.semicomplete.com/projects/xdotool/

[2021-05-22 08:21] cryinkfly commented on #23
So I did more tests with Ubuntu 21.04 and it still doesn't work!

I have tested this also with the newest wine version 6.9 (devel) and with Flatpak, but I get there the same error.

![Bildschirmfoto vom 2021-05-22 10-16-29](https://user-images.githubusercontent.com/79079633/119219772-7484bd00-bae7-11eb-9b3d-31e681b445ba.png)

[2021-05-22 09:19] nyahwhy commented on #23
Mine still works fine in virtualbox, just not with wine. Basic cloud functions are present both in virtualbox and wine - if I log into one, I can log out the other one remotely.

That AdCefWebBrowser thing on the other hand seems totally broken - not sure if that's required for the side bar stuff.

[2021-05-22 09:25] cryinkfly commented on #23
@nyahwhy

Okay, I check this now.

[2021-05-22 10:11] cryinkfly commented on #23
@nyahwhy

### So I have tested different configurations with AdCefWebBrowser, but nothing works!

[2021-05-22 11:31] cryinkfly commented on #21
### I think it's probably related to this problem: ![https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/23](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/23)

So I'm closing this issue for the moment!

[2021-05-23 13:10] cryinkfly commented on #23
So I have created an alternative solution for you so that you can use Autodesk Fusion 360!
But unfortunately you can't use everything of this program.

Here you can see my alternative way: https://youtu.be/_s42Zb9fnVU

[2021-05-23 17:19] suryanisaac commented on #22
Same here @cryinkfly, I can't thank you enough. I've been trying for months and it's finally working.

Going to try to get fusion to connect to the cloud now.

[2021-05-25 07:33] cryinkfly commented on #23
### The new product update (v 2.0.10244) still has the problem with the cloud connection!!!

![Bildschirmfoto_2021-05-25_09-29-19](https://user-images.githubusercontent.com/79079633/119457430-f9681480-bd3b-11eb-8692-3532e9873e2c.png)

[2021-05-25 07:51] dreamcat4 commented on #23
hey @cryinkfly this is why we should not trust autodesk and rely upon fusion. as nice as the software is. but they can choose to change the service at any time. and without any prior notice or warning. leaving you high and dry

this why rhino3d or alibre.is less drama :)
stand alone product

[2021-05-25 08:02] cryinkfly commented on #23
@dreamcat4 I believe you about that. But giving up is not my strong point. : D

[2021-05-25 10:29] cryinkfly commented on #23
@dreamcat4 I created something here: https://github.com/cryinkfly/Rhino-3D---Linux-Wine-Version-

[2021-05-25 22:18] bruno963852 opened #25 "The application get stuck on a blank screen...."
I try to start the app but it get's stuck on where should be the login screen, but it's only white...

My system:
Linux pop-os 5.11.0-7614-generic #15~1618626693~20.10~ecb25cd-Ubuntu SMP Thu Apr 22 16:00:45 UTC  x86_64 x86_64 x86_64 GNU/Linux

[2021-05-26 17:59] cryinkfly commented on #25
Hey @bruno963852, can you tell me, if you use a internal or external graphics card (AMD & NVIDIA)? :-)

Can you check these links: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/23#issuecomment-845973041 & https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/14

[2021-05-26 18:03] bruno963852 commented on #25
Hello, @cryinkfly, i use external graphics card, NVIDIA GeForce MX150 2GB.

[2021-05-26 18:24] cryinkfly commented on #25
@bruno963852  Okay, I see your system has an internal and external graphics card (Optirun)!

Start Autodesk Fusion 360 with the option "optirun":

[2021-05-26 19:48] bruno963852 commented on #25
My system doesn't have the bumblebee driver. i'm running Pop OS on NVIDIA mode, so it uses only the discrete GPU for all applications...

[2021-05-26 19:54] cryinkfly commented on #25
Okay and you have all DLL's installed? :-)

[2021-05-26 19:59] bruno963852 commented on #25
I've run the installation script... How do i make sure i have all the DLLs installed?

[2021-05-26 20:06] cryinkfly commented on #25
Open a terminal and run this command:

Then you check, if you have these DLL's:

"*api-ms-win-crt-heap-l1-1-0"="native,builtin"
"*api-ms-win-crt-locale-l1-1-0"="native,builtin"
"*api-ms-win-crt-math-l1-1-0"="native,builtin"
"*api-ms-win-crt-private-l1-1-0"="native,builtin"
"*api-ms-win-crt-runtime-l1-1-0"="native,builtin"
"*api-ms-win-crt-stdio-l1-1-0"="native,builtin"
"*api-ms-win-crt-time-l1-1-0

[2021-05-26 20:10] bruno963852 commented on #25
Yes, i have all the DLLs installed...

[2021-05-26 20:14] cryinkfly commented on #25
Okay, can you do this: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/4#issuecomment-818821369

[2021-05-26 20:24] bruno963852 commented on #25
The log:
[code]

[2021-05-26 22:10] TheCatster commented on #25
I am having this issue as well, except that my error message is related to a stack overflow. I'm doing this on GNU Guix, and just edited your script to allow that to pass. Still stuck on a white blank screen after trying the above.

[2021-05-27 11:15] cryinkfly commented on #25
Okay, can you you check, if you have this file into your WINEPREFIX:

![NMachineSpecificOptions](https://user-images.githubusercontent.com/79079633/119816812-738bcb00-beed-11eb-881f-01ea1f6f1185.png)

[2021-05-27 15:41] TheCatster commented on #25
I do have that file, and its contents are:

[code]
Which is what it should be, I believe.

Here is what I see when I launch Fusion:
![image](https://user-images.githubusercontent.com/32912305/119855716-25bc9600-bee0-11eb-9d8c-73700329e7e4.png)

When I close Fusion, I get this message:
[code]

[2021-05-27 16:45] cryinkfly commented on #25
@TheCatster Okay, I can see that wine tell you, that you must install the package „winbind“ 😅😊

[2021-05-27 16:48] TheCatster commented on #25
I'm on GNU Guix, so not apt :smile: But otherwise, yeah, I installed it with quite literally no change except for that line leaving.

[2021-05-27 16:52] cryinkfly commented on #25
@TheCatster Ah Sorry 😅🤣

[2021-05-27 18:32] aedancullen commented on #23
I believe this is a TLS-related issue which has always existed with the Wine setup but just didn't manifest itself before. Even though Fusion previously worked fine, its internal diagnostic log would include "Requested web service is unavailable" when it tries to connect to various HTTPS URIs. Perhaps the new update removed a graceful fallback to HTTP, or generally altered something related to thi

[2021-05-27 18:44] TheCatster commented on #25
No problem, and I assume you just overlooked it but:

Also, I’d consider adding that to the scripts as a dependency!

[2021-05-27 18:59] cryinkfly commented on #25
What do you mean with:

The package „winbind“ exist in my scripts. 😊

[2021-05-29 20:59] TheCatster commented on #25
Looks like it is only in there for Debian-based distributions. Nevertheless, not sure what to try next.

[2021-05-29 22:56] cryinkfly commented on #25
@TheCatster Okay, I think the best way for you is, when you install Autodesk Fusion 360 with Flatpak. :-)

Here can you see, that you get Flatpak for your system: https://guix.gnu.org/packages/flatpak-1.10.2/

... then you need my other ![Installation-Script (Flatpak)](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/scripts/fusion360-flatpak-install.sh) and my ![Start-Scrip

[2021-05-30 03:08] TheCatster commented on #25
Alright, will try that next! I already have flatpak for a few other things, so here’s to hoping this works!

[2021-05-30 08:12] cryinkfly commented on #25
@TheCatster I also hope that this variant works for you! :-)

[2021-05-30 11:53] bruno963852 commented on #25
In my system the flatpak version also won't work...

At first, it would get stuck on this error on installation:
![image](https://user-images.githubusercontent.com/2777952/120103019-f5fdd000-c123-11eb-9196-bdbd19550d56.png)

Then i fiddled around and managed to install the platform manually, so the script finishes the installation, but when i run the start script absolutely nothing happens.

[2021-05-30 19:13] dagrende opened #26 "Nothing matches org.winehq.flatpak-proton-68-ge-1 in remote flathub *solved*"
When I run ./fusion360-flatpak-install.sh it says in the midle smewhere:
error: Nothing matches org.winehq.flatpak-proton-68-ge-1 in remote flathub,
and then it complains with:
error: app/org.winehq.flatpak-proton-68-ge-1/x86_64/master not installed
I have Ubuntu 21.04 Wayland with Intel® Core™ i7-8650U CPU @ 1.90GHz × 8
and Mesa Intel® UHD Graphics 620 (KBL GT2).

[2021-05-30 19:56] cryinkfly commented on #25
Yes, you are right! When I do this without my script, then it works and with my script it doesn’t work at the moment.

[2021-05-30 20:00] cryinkfly commented on #26
Hey @dagrende 😊,

my script doesn’t work correctly at the moment and so you must do this without my script. 😔

[2021-05-30 20:55] DD1984 commented on #23
Hello,
I found strange issue. When i install fusion on new pc - i have problem with connection to cloud.
But old installation of fusion on laptop (under linux and under windows too) -  work fine. Then i  was copy ".wine" folder from laptop to new pc - and all work fine too.
I find that if file ".wine/drive_c/users/<USER_NAME>/Local Settings/Application Data/Autodesk/Autodesk Fusion 360/CMLWLKHS3A4

[2021-05-30 21:05] dreamcat4 commented on #23
Maybe if we can have a generic (and valid) empty version of this. As an empty data file? Before any real data is written into it. You know just enough to say 'i am empty file'. Perhaps that might help a lot.

[2021-05-30 21:22] cryinkfly commented on #23
@DD1984 Thank you very much for this report!!! 👌

[2021-05-30 21:35] cryinkfly commented on #23
So I have tested this with a empty file, but this one doesn’t work at the moment. 😅

So I check this with another way.

[2021-05-31 07:30] madurani commented on #23
Some smol progres,

I was inspired with a comment from @DD1984. I copied three files from old version of fusion to new affected version **2.0.10244**
from mentioned location location: drive_c/users/<USER_NAME>/Local Settings/Application Data/Autodesk/Autodesk Fusion
and left panel began work:
![image](https://user-images.githubusercontent.com/49711883/120155342-ffa13980-c1f0-11eb-8e92-9206f3567a5b

[2021-05-31 07:38] cryinkfly commented on #23
@madurani Very cool ^^ , so we have found a solution for this problem now!!!

[2021-05-31 07:41] #26 closed

[2021-05-31 07:55] #23 closed

[2021-05-31 08:06] dreamcat4 commented on #23
unfortunately had to delete my existing Fusion360 last week. (out of disk space). So no longer have any copy of this file

[2021-05-31 09:32] cryinkfly commented on #23
### Here you can see, how you get to work Autodesk Fusion 360 with the tip from the user @DD1984:

---

@dreamcat4 I look for a solution, that we doesn't need Windows for this one. :-)

[2021-05-31 14:01] omexlu opened #27 "warning: wineserver not found!"
I get this error on install:
warning: wineserver not found!

THIS PROBLEM GET SOLVED

But i can't get it run (nothing happends):
./fusion360-start.sh
16:21 goodpeace@ubuntuN ~/Schreibtisch/TEMP # 01d6:err:ntdll:RtlLeaveCriticalSection section 0x1f06b910 is not acquired
01d6:err:combase:RoGetActivationFactory Failed to find library for L"Windows.UI.ViewManagement.UISettings"
01d6:err:combase:RoGetA

[2021-05-31 17:53] cryinkfly commented on #27
@omexlu Did you have a different version of wine installed before?

[2021-05-31 19:05] omexlu commented on #27
No, new insallation.
But your script don't cover all installation processes of wine.

I can't test because i have deinstalled all.

[2021-05-31 19:15] cryinkfly commented on #27
Which Ubuntu version do you use?

[2021-05-31 19:16] omexlu commented on #27
Ubuntu 20.04

[2021-05-31 19:21] cryinkfly commented on #27
And my script doesn't work on your system? It's strange: ;-)
Can you give me more information, what happens when my script install Autodesk Fusion 360 on your system?

[2021-06-01 01:37] omexlu commented on #27
Yes dont work 🙈
I open fusion then it hangs and don't react or the splash screen is with 🙈 noting happends.

[2021-06-01 15:11] cryinkfly commented on #27
Can you tell me more about your hardware, please. :-)

[2021-06-01 15:17] omexlu commented on #27
Here the output from `hwinfo` (i think here is all you can need) :D
[hardware.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6577311/hardware.txt)

[2021-06-01 15:25] cryinkfly commented on #27
Thanks I check this now! :-)

[2021-06-01 15:38] cryinkfly commented on #27
Ok I see you use a AMD graphics card. If you using the amdgpu instead of the radeon driver?

[2021-06-01 15:40] omexlu commented on #27
Is there no other way so that I can keep the current driver installed? Is the problem with the driver?

[2021-06-01 15:45] cryinkfly commented on #27
Open a Terminal and run this command:

Then you check if vulkan is installed correctly with this command:

[2021-06-01 15:51] omexlu commented on #27
Currently it is not installed, but I also do not like to install 3 providers software, especially since it is not certain that it is because of that and also possibly still does not work.

Furthermore, I would not use another driver for the graphics card :(

Is there really no other option here?

Lutris hatte ich auch versucht, dort war genau das gleiche Problem :(

[2021-06-01 16:02] cryinkfly commented on #27
Since I don't have an AMD graphics card myself, I can't test it. :-(
Da ich leider selber keine AMD Grafikkarte da habe, kann ich es nicht testen . :-(

[2021-06-01 16:05] cryinkfly commented on #27
Can you check if you can install this one here?

 libvulkan1 libvulkan1:i386

[2021-06-01 16:07] omexlu commented on #27
Before I make the effort to try the whole thing again, what about fusion 360, is that completely functional? Are there any bad bugs? And will it be compatible with wine for a long time?

PS. As far as I know these drivers were installed by Wine.

Thanks for your effort.

[2021-06-01 16:21] cryinkfly commented on #27
I can unterstand you! :-(

Can you run this command and send me the output:

[2021-06-01 16:22] omexlu commented on #27
I am trying now to install it on a very old laptop to see if it works there :)

Output of the command on my main PC:
`server glx version string: 1.4
client glx version string: 1.4
GLX version: 1.4
    Max core profile version: 4.6
    Max compat profile version: 4.6
    Max GLES1 profile version: 1.1
    Max GLES[23] profile version: 3.2
OpenGL core profile version string: 4.6 (Core Profile) Mesa

[2021-06-01 16:29] cryinkfly commented on #27
It looks like okay for me :-)

Give me a report of them, when it works, so I can create a manual for users they have the same problem as like you. :-)

[2021-06-01 16:31] omexlu commented on #27
By the way something is missing in your installation script:
warning: wineserver not found!

Yes but this old laptop does not have an Nvidia card.

So not the same problem, I just want to know if it's the graphics card, hence the test :)

[2021-06-01 16:33] cryinkfly commented on #27
Did you use the installation with DXVK or without DXVK?

[2021-06-01 16:36] omexlu commented on #27
On the old laptop without, wine-stable must be installed here before the install-script, otherwise gibs error messages, for whatever reason.

[2021-06-01 16:49] cryinkfly commented on #27
When this computer use only the integrated graphics card:
https://appdb.winehq.org/objectManager.php?sClass=version&iId=36468&iTestingId=108262&bShowAll=true

[2021-06-01 16:50] omexlu commented on #27
On the old laptop is also not working, there is even worse and louder error messages, I can not work on the old laptop is too lame for me, sorry can not test there :/

[2021-06-01 16:56] cryinkfly commented on #27
Okay, I thank you anyway for testing! :-)
Another way is, when you test Autodesk Fusion 360 into a Flatpak-Runtime, maybe.

[2021-06-01 16:59] omexlu commented on #27
Before I make the effort to try the whole thing again, what about fusion 360, is that completely functional? Are there any bad bugs? And will it be compatible with flatpak for a long time?

[2021-06-01 17:02] cryinkfly commented on #27
Here can you read more about this one: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/20#issuecomment-842588558

[2021-06-01 17:03] omexlu commented on #27
Thanks for your help i keep you informed :)

[2021-06-01 17:39] omexlu commented on #27
Flatpak don't work also, after executing the start script get error about directories are not in path XDG_DATA_DIRS and nothings happends :/

I give up.

[2021-06-01 18:46] cryinkfly commented on #27
But you have installed Flatpak before you use my script?

Link: https://youtu.be/BB1THQ733xA

When my script doesn’t work correctly, then must run every command itself. 😅

[2021-06-01 18:58] omexlu commented on #27
Yes but still don't work i give up, thanks anyway :)

[2021-06-01 19:00] cryinkfly commented on #27
I look in the next time for a solution or maybe can help us another user by this problem. 😊

So please don't give up. 😔

[2021-06-01 19:35] omexlu commented on #27
Thanks, you scripts need to be improved :)

Thanks for your time and work.

[2021-06-02 09:17] vasiaplaton opened #28 "Need a feature: install in another folder."
Hey. It would be great if i can install fusion360 not in my home folder. I can do it by hands, but's its difficult to change all that paths in your script. My home folder is low on free space, and I connected another SSD, but your script can only install fusion 360 and winetricks in my home folder. It would be great if i can install fusion360 and winetrikcs in another dir.

[2021-06-02 10:24] cryinkfly commented on #28
@vasiaplaton You can install Autodesk on another disk with this command:

[2021-06-02 22:41] dvilker opened #29 "stopped working after updating Ubuntu"
Installed and previously working Fusion stopped working after updating Ubuntu. Previously, it did not start for me if I selected nvidia-driver-460, but it worked with nvidia-driver-450. Now I can't go back to this version. And Fusion displays a bug report window after authorization.

[2021-06-03 06:57] dvilker commented on #29
At work (HD Graphics 630, not NVidia) same situation. Previously working and broke after Ubuntu update.

[2021-06-03 07:52] cryinkfly commented on #29
@dvilker Thank you for your report! You are not alone with this problem, then some users have the same problem with AMD graphics cards. 😉

Can create a file, when you run Autodesk Fusion360 with the NVIDIA graphics card and then another file with only the integrated graphics card? 😊

[2021-06-03 07:59] cryinkfly commented on #27
@omexlu So, you are not alone with your problem!

Here is a link: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/29

[2021-06-03 10:39] cryinkfly commented on #29
I have found this issue: https://www.linuxquestions.org/questions/slackware-14/wow-lutris-dxvk-broken-after-nvidia-450-57-update-today-current-4175678996/

[2021-06-04 14:02] cryinkfly opened #30 "Supported Graphics Cards"
# [Supported Graphics Cards](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/wiki/Supported-Graphics-Cards)

Here can you send me a message, where you can tell me if your graphics card work with Autodesk Fusion 360 on Linux. :-)

#### This is very important for me:

- graphics card model
- graphics card driver
- operating system (OpenSUSE Leap 15.3, Fedora 34, ...)
- desktop environm

[2021-06-04 19:58] cryinkfly opened #31 "Sign in Failure"
## Some users get this error:

![sign-in-failure](https://user-images.githubusercontent.com/79079633/120856186-bd288580-c57f-11eb-84c1-12db3b1b5e3c.png)

[2021-06-04 20:00] cryinkfly commented on #21
I reopen this issuse, because some users get this failure at the moment:

![sign-in-failure](https://user-images.githubusercontent.com/79079633/120856539-50fa5180-c580-11eb-98c7-d95bf311f60f.png)

[2021-06-04 20:17] cryinkfly commented on #21
Okay I have found out that the configuration file "NMachineSpecificOptions.xml" is the problem, why some users get this error!

### Solution:

- Open your FIle-Browser

- Go into this folder: /.fusion360/drive_c/users/$USER/Application Data/Autodesk/Neutron Platform/Options/

- Delete this file "NMachineSpecificOptions.xml

- Restart Autodesk Fusion 360

[2021-06-04 20:25] Rohan-Bansal commented on #21
@cryinkfly I do not have a file called NMachineSpecificOptions.xml. I opened the folder you specified and it is empty. Perhaps because I've never been able to log in? I launch the program and it gives me this error, and I am forced to close it.

[2021-06-04 20:30] cryinkfly commented on #21
You can copy the content ("NMachineSpecificOptions.xml") from my ![Installation-Script](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/scripts/fusion360-install.sh)! :-)

![NMachineSpecificOptions xml](https://user-images.githubusercontent.com/79079633/120859203-29a58380-c584-11eb-9a3d-15386557412e.png)

[2021-06-04 22:30] Rohan-Bansal commented on #21
@cryinkfly I still have the same issue.... Using the options did not help.

[2021-06-05 03:38] cryinkfly commented on #21
@Rohan-Bansal Can you visit this site here: https://knowledge.autodesk.com/support/fusion-360/troubleshooting/caas/sfdcarticles/sfdcarticles/Sign-in-Failure-There-was-an-error-logging-in-when-launching-Fusion-360-after-changing-timezones.html

[2021-06-05 04:42] Rohan-Bansal commented on #21
Yes, I checked that site and many others already. My timezone is perfectly synced already, I have no idea what's going wrong.

[2021-06-05 06:59] cryinkfly commented on #21
So I have tested Autodesk Fusion 360 on my system with Ubuntu 20.04, 20.10 and 21.04.

It works for me! 😅

I don’t know, why it doesn’t work on your system. 😔

[2021-06-05 16:22] DD1984 commented on #10
script https://github.com/DD1984/f360_run for run fusion360 under sandbox

[2021-06-06 12:50] suryanisaac opened #32 "Completely uninstalling the package"
Hey,

I'd like to completely uninstall Fusion360 and reinstall it for troubleshooting. Do you have the locations of the binaries and other related files to delete them? Thanks

[2021-06-06 12:58] suryanisaac commented on #32
To add to this, I used the install.sh file, not flatpak

[2021-06-06 17:41] BrachyKnight opened #33 "Can't synchronize with cloud"
I really wanna start by thank you, because this is the closest I've been to making fusion 360 work on Linux. I am on gnome wayland on Garuda Linux (a fork of Arch) and for some reason in the left panel (where the projects are usually in) there's a label that says "Having difficulty establishing a connection. We'll keep trying.". I can't continue working offline, because it says that first it needs

[2021-06-06 19:22] brando16 opened #34 "Freez to a blanck screen when start ./fusion360-start.sh script"
Hi all,

very good job the software start but no do anything for hours when launch the start script, i work on Imac mid2011 with AMD radeon HD 6970 6990:

sudo lspci
`00:00.0 Host bridge: Intel Corporation 2nd Generation Core Processor Family DRAM Controller (rev 09)
00:01.0 PCI bridge: Intel Corporation Xeon E3-1200/2nd Generation Core Processor Family PCI Express Root Port (rev 09)
00:02.0 Displ

[2021-06-07 04:11] cryinkfly commented on #33
@BrachyKnight Here is a solution for this problem at the moment: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/releases/tag/v2.6 😊

[2021-06-07 04:17] cryinkfly commented on #34
Okay can you check, if Autodesk Fusion 360 run without my Start-Script? 😊

[2021-06-07 04:18] cryinkfly commented on #32
@suryanisaac Delete the folder .fusion360 into your folder home. 😊

[2021-06-07 04:53] brando16 commented on #34
Sorry, but I can do that? in your start script launch e wine command and I do the same not with your script but my hands so I not understand what I do.

Sorry for my ugly english😅

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 07:13] cryinkfly commented on #34
@brando16 We can also writing in German. 😅

Yes you can, when you change into this folder:

Then you run this command:

[2021-06-07 08:32] brando16 commented on #34
Ok Steve when is possibile I do what you ask me and then tell you what happens

Best regards

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 09:50] cryinkfly commented on #34
Okay, I wait for your answer. 👍

[2021-06-07 10:05] dreamcat4 commented on #34
hey @brando16 what might help to see is give the log output from the script command. when you run from cmdline. This way there should be some log printed in terminal.

maybe like this:

`sh -x ./SCRIPT.sh`

[2021-06-07 10:11] brando16 commented on #34
I try what you tell me but nothing start got only this outpt:

 WINEPREFIX="/home/andrea/.fusion360" wine Autodesk\ Fusion\ 360.lnk

*Andrea Manca*
Responsabile Progetti Informatici
phone 3408131435

Il giorno lun 7 giu 2021 alle ore 11:51 Steve Zabka <
***@***.***> ha scritto:

[2021-06-07 10:28] cryinkfly commented on #34
@brando16 Have I understood that correctly?

You opened the terminal and change to the correct folder with this command:

and then you have started Autodesk Fusion 360 with this command:

[2021-06-07 10:37] brando16 commented on #34
Yes I do this exact commands from my home, where exist .fusion360:

cd .fusion360/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk

And then

WINEPREFIX="/home/andrea/fusion360" wine Autodesk\ Fusion\ 360.lnk
I have to change .fusion with full path if not do it i have and error in this prefix.

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 10:39] BrachyKnight commented on #33
Thank you! I'm sorry I didn't check the closed issues before opening a new one. Anyway, I'll mark this one as solved!

[2021-06-07 10:39] #33 closed

[2021-06-07 10:39] dreamcat4 commented on #34
do you have a `DISPLAY=` environment variable set for xorg? can you launch other GUI apps from the same terminal session?

[2021-06-07 10:44] BrachyKnight opened #35 "Increase allocated resources?"
Right now fusion works fine, but it sometimes can feel sluggish and I think that's because it doesn't use much RAM or system resources. Is there a way to increase that?

[2021-06-07 10:57] brando16 commented on #34
I can launch another app Kate for exsample or dolphin but I don't know il
the variable DISPLAY exist if I do echo $DISPLAY output is :0

*Andrea Manca*
Responsabile Progetti Informatici
phone 3408131435

Il giorno lun 7 giu 2021 alle ore 12:39 Dreamcat4 ***@***.***>
ha scritto:

[2021-06-07 11:01] dreamcat4 commented on #35
the speed of fusion is limited by calls to http / https api. this may be limited by the DLL in wine, and as such you are needing to be waiting a lot of time for HTTP calls to return over TCP

a good solution for higher performance is to eliminated this aspect entirely. by switching to a different software such as rhino3d or alibre product(s). which does not do this

however for fusion it is more a

[2021-06-07 12:14] cryinkfly commented on #34
@brando16  Which desktop environment have you installed on your system?

Can you run this command:

Then do this:

and then you have started Autodesk Fusion 360 with this command:

[2021-06-07 12:23] brando16 commented on #34
KDE

Yes I can do that, but last command not execute if I have to change WINEPREFIX to /home/andrea/.fusion360

That’s ok?

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 12:28] brando16 commented on #34
Same error

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 13:13] cryinkfly commented on #34
When you open a terminal, then you can use this command:

Did you have also installed the latest graphics driver?

[2021-06-07 14:04] brando16 commented on #34
I can’t execute the command exatly.
The path WINEPREFIX must be an absolute path.

Yes I have all driver installed.

Andrea Manca
IT Senior Consultant
Mob. +39 3408131435

[2021-06-07 17:50] DD1984 commented on #30
fusion360 version: 2.0.10244
graphic card model: [AMD/ATI] Renoir (rev d9) (integrated in ryzen 4650g)
driver: Linux version 5.11.0-18-generic
os: kubuntu 20.04, KDE

wine-6.9 (Staging)
1. winetricks vcrun2017 only installed
  dx9, opengl - work
2. dxvk 1.8.1
  opengl - work, dx9,dx11 - do not work (but games work normal)

[2021-06-07 20:22] cryinkfly commented on #34
@brando16 I have seen that you will run Autodesk Fusion 360 with a AMD graphics card:

Can you read this, please:

[2021-06-08 05:28] theol0403 commented on #29
Hello, first of all thank you for making this! It is so useful to run fusion on linux.

However, as of a few weeks ago I am having the same error on fedora 35.

Here is the debug log as requested (its absolutely massive):

https://drive.google.com/file/d/1u8RGxTjuKd0e9-3UtIRkD_XtrSXBhCaQ/view?usp=sharing

[2021-06-08 16:54] ekinyuksel12 commented on #34
I have the same problem too.

Ubuntu 20.10
Intel i7 1065g7
Mx330

[2021-06-08 19:32] cryinkfly commented on #34
@ekinyuksel12 Thank you for your report! :-)

[2021-06-08 20:05] cryinkfly commented on #34
@brando16 and @ekinyuksel12

1. Step: Open your File-Browser and delete the folder ".fusion360" into your home folder!

2. Step: Open a Terminal an change to your folder "Downloads" with this command:

3. Step: Create a new WINEPREFIX for Autodesk Fusion 360 with this command:

4. Step: Run this command:

5. Step: Change to your fusion360 folder into your folder Downloads with this command:

6. St

[2021-06-08 20:08] cryinkfly commented on #30
@DD1984 Can you tell me more about you configuration (graphics driver), please? :-)

[2021-06-09 06:07] bVdCreations opened #36 "Nothing matches org.winehq.flatpak-proton-68-ge-1 in remote flathub"
First off all Thanks for this repo and the work!

trying to run the script "fusion360-flatpak-dxvk-install.sh"

I'm getting the following error

`
Install a special Wine-Version!
--2021-06-09 08:02:22--  https://github.com/fastrizwaan/flatpak-wine-releases/releases/download/6.8-20210510/org.winehq.flatpak-proton-68-ge-1-6.8-20210510.flatpak
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt

[2021-06-09 06:38] cryinkfly commented on #36
@bVdCreations Okay thank you for this information. 😊 Can you check if you can install this Flatpak-App without my script, so that run the commands itself?

[2021-06-09 07:23] bVdCreations commented on #36
I was already planning to do this, after work. I will post my finding on this threat.

[2021-06-09 07:37] ekinyuksel12 commented on #34
I havve tried your steps but no luck still wihte blank screen. But now it gives me a crash reporter.

Wine output:

![Screenshot from 2021-06-09 10-35-17](https://user-images.githubusercontent.com/53980540/121312821-6ec40f80-c90e-11eb-83e4-f7be55be3254.png)

[2021-06-09 07:52] cryinkfly commented on #34
@ekinyuksel12 Maybe it works when you use dxvk. ☹️😊

[2021-06-10 13:01] Doofitator commented on #25
I also have the same problem. Fusion installs but I'm stuck on a white screen where the logon should be.

![image](https://user-images.githubusercontent.com/4780013/121528895-3a03a580-ca3f-11eb-94e5-90a9de099fd3.png)

I'm running Pop! OS 20.10.

The output reads the following:
`
00ca:err:ntdll:RtlLeaveCriticalSection section 0x1ee16480 is not acquired
00ca:err:combase:RoGetActivationFactory Failed

[2021-06-10 17:49] cryinkfly commented on #25
@Doofitator Thank you for your report! :-)

---

I have found out, that the graphics card driver is very important to get work Autodesk Fusion 360 with wine on Linux!!!

[2021-06-10 23:28] Doofitator commented on #25
Even though Fusion works under Windows? Bummer.

My graphics configuration does meet your requirements, so I thought it would have worked. I also wouldn't have thought the login screen would be that graphically intensive!

Alas, I'm not well versed enough to make sense of the errors I'm receiving, so I'll have to leave it with you. Thanks for your help

[2021-06-11 04:22] cryinkfly commented on #25
@Doofitator Okay 👍, the next one is, if you have started Autodesk Fusion 360, then go to preferences and in General under Graphics driver select OpenGL!

Close Autodesk Fusion 360 and follow the steps 7 and 8 (https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/34#issuecomment-857081697).

After this one you can restart the program.

[2021-06-11 08:37] Doofitator commented on #25
@cryinkfly I have not yet managed to start Fusion 360 - I have managed to log in, but then I get stuck on a screen with the Autodesk logo before it eventually crashes.

There already existed a folder called 'Options' with the required XML file in it. Its contents were correct.

Here is a screenshot to show where Fusion 360 is up to now:
![image](https://user-images.githubusercontent.com/4780013/12

[2021-06-11 08:52] dreamcat4 commented on #25
you should check the openGL graphics driver setting is already pre-checked. By the template file. If it is not then you need to notice and communicate that fact (preferences not updated). And take a backup copy of the full C drive inside the wine prefix. Then set the option manually and exit the program. Ten do a whole folder diff of the entire tree.

However in order to load fusion to begin with,

[2021-06-11 09:17] Doofitator commented on #25
Hey @dreamcat4,

I'm struggling to make perfect sense of your suggestions, but I tried to piece it together.
I first tried to start Fusion with the `-opengl` argument. That changed nothing.

I then set d3d11 and d3d9 to "native" in winecfg, and made sure to install dxvk in the wineprefix with `./setup_dxvk.sh install`. Now Fusion is stuck at the splash window. It does not launch the application.

[2021-06-13 10:29] suryanisaac commented on #32
Thank You!

[2021-06-13 10:30] #32 closed

[2021-06-13 13:21] cryinkfly commented on #36
@bVdCreations Okay, thank you very much for your answer: :-)

[2021-06-14 05:26] cryinkfly commented on #29
@theol0403 Thank you for this file. 👍

[2021-06-18 16:38] cryinkfly commented on #25
@Doofitator Hi, can you tell me, why you not install DXVK with winetricks? 😊

[2021-06-19 01:54] Doofitator commented on #25
Okay so I deleted ~/.fusion360 and tried again.

Ran fusion360-dxvk-install.sh, set `d3d10core = disabled`, `d3d11 = native`, `d3d9 = builtin` and `dxgi = native`, then went to `HKEY_CURRENT_USER\Software\Wine\`, made a new key called `Direct3D`, then a string called `renderer` with value `vulkan`.

On starting Fusion360, I now get nothing. Not even the splash screen.

So I tried `WINEPREFIX=~/.fu

[2021-06-22 02:45] mcbb2001 commented on #30
F360 Version: 2.0.10356
System: Dell Precision 5550
Core i7 10750H
32GB System Memory
Nvidia Quadro T2000 MaxQ w/ 4GB Vram
Linux: Manjaro KDE 5.21.5
OpenGl

I used winetricks to install DX11, and I used the proprietary video drivers

Only issue I've experienced is the online file system not working

[2021-06-22 02:46] mcbb2001 commented on #30
Also thank you so much for making this, I've been beating my head for years trying to figure this out (not very good at linux but still) and this just worked super easily

[2021-06-22 13:46] DD1984 commented on #30
Device name: AMD RADV RENOIR (ACO)
Driver version: 21.0.1

[2021-06-23 06:00] cryinkfly commented on #30
@DD1984 No that was already clear to me. :-)
But for me it's more interesting if you have configured another things on your system that you get the program to run.
Then some users have problems with AMD! :-(

---

@mcbb2001 You're welcome and thank you for your report! :-)

Did you mean this issue: https://youtu.be/jyERoGyzMR8 ?

[2021-06-23 21:57] TheCatster commented on #25
I actually made some (slight) progress! I completed deleted everything, and as of this morning can log in, but have no cloud access (the app also doesn't respect dwm or EXWM whatsoever, so maybe I'll have to find some other way to launch it).

[2021-06-28 10:15] cryinkfly commented on #17
So, I have found maybe the reason, why it doesn't work correctly, when I read this post here:

- https://knowledge.autodesk.com/de/support/fusion-360/troubleshooting/caas/sfdcarticles/sfdcarticles/DEU/Fusion-360-Drawing-cannot-launch.html

It looks like so that we need DXVK and some DLL's to get this workspace to running, but I will check this in the next time! :-)

[2021-06-30 02:24] mauriandres commented on #36
In addition to the errors reported by @bVdCreations , I've also experienced a "sha256sum mismatch" for the `vc_redist.x86.exe`:

[code]

[2021-06-30 14:54] cryinkfly commented on #36
@mauriandres Sometimes it’s so, that I get this error when winetricks isn’t up to date!

Can you check if you get the older version vcrun2017?

[2021-06-30 20:25] ekinyuksel12 commented on #34
Sorry for late answer. I tried that too but no luck. One week ago I switched to Ubuntu 21.04 and the issue seems to be disappear.

[2021-06-30 20:28] ekinyuksel12 commented on #29
I switched to Ubuntu 21.04 from POP_OS!. And now fusion360 is goes into bug report after authorization just like the @dvilker 's problem. My nvidia driver version is 465

[2021-07-01 11:00] suryanisaac opened #37 "Fusion360 does not launch on manjaro"
Hello,

Fusion 360 installs without any problem, but it refuses to launch, I tried to give the script sudo priviliges but that didn't work either. I've attached the log below.

Running Manjaro Linux, (5.10.42-1-MANJARO)

Thank You
[code]

[2021-07-01 15:25] mcbb2001 commented on #30
YES!!!! only issue now is that weird graphical thing, but I think thats more of an F360 issue. Thank you so much!

[2021-07-01 20:51] mauriandres commented on #36
With vcrun2017 I did not get the sha256 mismatch error, however, other errors happened:
- Around line 85, `mkdir -p "$HOME/.local/share/flatpak-proton-68-ge-1/default/drive_c/users/steamuser/Application Data/Autodesk/Neutron Platform/"`, I suggest adding `Options/` to the end of the line so the next command does not fail with `No such file or directory`
- The command `wine Fusion\ 360\ Admin\ Inst

[2021-07-03 12:17] cryinkfly commented on #37
Can you open your terminal and run this command, please:

`env WINEPREFIX="/home/suryanisaac/.fusion360" wine C:\\windows\\command\\start.exe /Unix /home/suryanisaac/.fusion360/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk`

[2021-07-03 12:26] cryinkfly commented on #36
@mauriandres Okay, you can download this file ![NMachineSpecificOptions.xml](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/files/NMachineSpecificOptions.xml) and then you change to this path:

`/home/YOUR-USER-NAME/.local/share/flatpak-proton-68-ge-1/default/drive_c/users/steamuser/Application Data/Autodesk/Neutron Platform/`

... there you must create a new folder "Optio

[2021-07-04 00:59] vintagepc opened #38 "Crashes on splash screen"
OpenSuSE 15.3 on a new computer with a fresh install of WINE 6.12 from the Emulators repo.

Install completes without issue but on launch it sits on the initial splash screen for a few minutes and then crashes.

![image](https://user-images.githubusercontent.com/53943260/124370075-13e9b380-dc41-11eb-861e-fece4e938bc2.png)

Also tried `rsync` ing the drive_c and .reg files from a working wineprefix

[2021-07-04 02:56] suryanisaac commented on #37
Thank you, I will try that and let you know

[2021-07-04 03:10] suryanisaac commented on #37
I ran that, now the splash screen opens for some time and then I get the 'report error to autodesk' dialog and it stops. Logs attached below.

Thank you
[code]

[2021-07-04 03:12] suryanisaac commented on #37
![img-2021-07-04-084115](https://user-images.githubusercontent.com/20224326/124371879-aa4ec100-dca3-11eb-954d-b1674c19b6f5.png)
Attached the error screen

[2021-07-04 03:43] theol0403 commented on #38
Duplicate of #29

[2021-07-04 09:45] hopkuba opened #39 "A lot of wine-3d errors and crash on splash screen"
I tried to start Fusion on Linux Mint 20 and encountered a lot of wine3d errors and Autodesk Crash Report Prompt showed up on splashscreen. Please help!
Logs:
[code]

[2021-07-04 11:51] vintagepc commented on #38
I'm not convinced it's the same issue. I was never even able to sign in on this install, and it takes a good 2-3 minutes to crash from when the splash screen is shown.

the "working" install I copied goes from splash to authentication page in about 15 seconds.

[2021-07-04 15:08] cryinkfly commented on #38
@vintagepc Which graphics card and desktop environment did you have installed?

[2021-07-04 15:11] vintagepc commented on #38
KDE, this is with an nVidia GTX-1050 and proprietary drivers.

I've tried both the dxvk and opengl installation options and it makes no difference in the issue.

[2021-07-04 15:26] cryinkfly commented on #38
Okay, then I use XFCE on my system.

[2021-07-04 15:30] cryinkfly commented on #39
@hopkuba I see that you get some errors with xdg-…

Can you tell me if you have configured your hostname and so on?

[2021-07-04 15:44] cryinkfly commented on #37
@suryanisaac Okay 👍 Can you look into this closed issue: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/6

[2021-07-04 16:03] theol0403 commented on #38
My bad, the other issue indeed takes you to the login before crashing.

[2021-07-04 16:42] suryanisaac commented on #37
I was looking through that, but when I try to open winecfg, I get a long list of errors. Seems like wine wants some dll files, but I am not experienced with wine at all so I am not sure how to install them at all.

Thank You

[code]

[2021-07-05 05:09] alice-cash commented on #38
I am having the same issue. Launch, splash screen for 2 minutes then crash report. Just tried to install it today.
Running Xubuntu 20.04 and Geforce 1080 with proprietary drivers

[2021-07-05 07:13] hopkuba commented on #39
I think that xdg errors occured after I clicked send report button. It only tried to open browser...
But wine 3d errors and crash report window is the main issue here. I can send some screenshots if you need them.

[2021-07-05 11:50] cryinkfly commented on #39
@hopkuba Okay.

This is a good idea 👍

[2021-07-05 11:55] cryinkfly commented on #38
@alice-cash Okay, can you check if my script have created the file NMachineSpecificOptions.xml correctly?

… and also if winetricks have installed corefonts vcrun2019 … ? 😊

[2021-07-05 12:09] hopkuba commented on #39
@cryinkfly
So this shows up after a few seconds from start:
![Zrzut ekranu z 2021-07-05 14-05-47](https://user-images.githubusercontent.com/49843860/124469317-7efacd80-dd9a-11eb-9431-b80b0c617551.png)

[2021-07-05 12:30] vintagepc commented on #38
Just Emulators/Wine and packman.

If this was a system or package issue I'd expect the copied wineprefix version to fail the same way, yet it acts normal. Unfortunately I just can't get further than sign-in on that one because it won't accept keyboard input. This really smells like something they updated on their end.

This is one of the main reasons I despise SaaS and quasi-cloud stuff; it can br

[2021-07-05 14:04] cryinkfly commented on #25
@TheCatster Can you watching this video, please: https://youtu.be/MwUhLGeGXvg

[2021-07-05 15:57] Nold360 commented on #38
I'm struggeling with the same issue. I fixed it somehow a few days ago.. but forgot how and where... so I'm back here, trying to figure out what's wrong.. pretty sure it was some missing winetricks lib or something like that...

[2021-07-05 16:27] alice-cash commented on #38
So I am not as familiar with wine and verifying packages are installed, I tried just reinstalling both and get `vcrun2019 already installed, skipping` and `corefonts already installed, skipping`. I also verified that NMachineSpecificOptions.xml is set up.

I also tried setting up with dxvk but get the exact same issue.

I have also tried reinstalling graphics drivers and updating from 460 to 465.

[2021-07-05 17:16] cryinkfly commented on #38
The whole thing is really strange. 😪

[2021-07-05 18:26] #22 closed

[2021-07-05 18:28] cryinkfly commented on #39
We continue this issue here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38

[2021-07-05 18:28] #39 closed

[2021-07-05 18:30] cryinkfly commented on #37
@suryanisaac If you have the same problem like this one here in this issue https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38 ?

[2021-07-05 18:36] cryinkfly commented on #34
Okay I think this issue here has some similarities with this one here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38

… and so we continue this problem there.

[2021-07-05 18:36] #34 closed

[2021-07-05 18:41] cryinkfly commented on #25
We continue this issue here: #38

[2021-07-05 18:41] #25 closed

[2021-07-05 18:50] cryinkfly commented on #38
Hello everyone,

I have closed some issues now and referred to this issue here, which are basically similar to this one. ⚠️

So I hope that we can find faster a solution for this problem. 🧔🏼‍♂️👩🏽‍🦱👱🏾‍♀️👨🏻‍🦱🧑🏼‍🦱👩🏻👨🏿‍🦲🌎

[2021-07-05 19:36] vintagepc commented on #38
Additional data point: Moving the "crashing" install to the "working" prefix results in it starting and moving to the still-unusable sign-in page.

So we are back to it being a prefix config issue as part of the problem.

[2021-07-05 20:51] cryinkfly commented on #38
@vintagepc I just find it frightening that it works with one of them and with the other, who even has the same hardware, etc., it doesn't work.

I don’t know, why it’s so.

[2021-07-06 03:27] suryanisaac commented on #38
Good to know that it's not a Manjaro-only problem, so that can probably eliminate KDE and Manjaro playing a part in the error.

Does installation work properly for you all too? The install script successfully works for me.

[2021-07-06 05:51] hopkuba commented on #38
@suryanisaac Installer after some additional lib installs is fine but these wine-3d errors when I started from the console. It even popped up some dll name before crash... I think it might be a missing lib of some kind that is not letting some 3d rendering data to pass through. From some basic analisis of GPU Usage and programs that are using it I think that Fusion is loading default 3d view even

[2021-07-06 05:54] hopkuba commented on #38
`wine: Call from 0x7b02dae6 to unimplemented function ucrtbase.dll.feclearexcept, aborting`

This message showed up right before crash in console.

[2021-07-06 07:28] hopkuba commented on #38
I have something that might help. My workshop PC running Win7 was dealing with Fusion just fine about a week ago. Today I tried to start it and all 3d is gone. No 3d interface at all. I think that it may be a sneaky update changing some way that autodesk handles  3D

[2021-07-06 07:34] suryanisaac commented on #38
Hmm, It's worked for me on the same system configuration a few weeks ago but not now. Does anyone here know of an archive of Fusion360 .exe files?

So it's probably Autodesk that broke something?

 Anyway through this whole ordeal, I'm learning more and more FreeCAD which is good I guess.

[2021-07-06 08:31] hopkuba commented on #38
FreeCad has some CNC module? That's a deal breaker for me. If it has - I am switching right now.

[2021-07-06 10:37] suryanisaac commented on #38
Yes! https://wiki.freecadweb.org/Path_Workbench

[2021-07-06 10:39] suryanisaac commented on #38
Also something interesting @cryinkfly and @vintagepc I've found this script to work: https://gist.github.com/probonopd/0fab254aa0b6fc371d8db641822bd530#gistcomment-2799597

I followed the instructions and Fusion360 launched without a problem, on the same machine without any changes. Maybe it's something with the winetricks installed? I've also tried this after attempting your install on my system

[2021-07-06 10:43] cryinkfly commented on #38
So I have found out, that it sometimes happens that not all packages are available, as you can see in the picture for example:

![Bildschirmfoto_2021-07-06_12-26-26](https://user-images.githubusercontent.com/79079633/124585640-c85c2300-de55-11eb-8c4c-a58e71b871c8.png)

... and this package is needed for the TLS and HTTPS story, for example!

Here you can see it on my system:

![Bildschirmfoto_2021

[2021-07-06 10:54] cryinkfly commented on #38
@suryanisaac

## Winetricks definitely plays a very big role in this whole thing!

The problem is that sometimes the servers are not reachable or the sha256sum are mismatched and that takes care of it ensures that not everything is installed correctly!!!

And this can be also the reason why some users can't use the program Autodesk Fusion 360 on there system.

But at the moment I can't do anything

[2021-07-06 11:17] vintagepc commented on #38
It also doesn't help if a distro has system packages for certain things that might interfere or conflict with things that winetricks might add.

In any case I've also had enough of this Autodesk BS and have been using SolidEdge Community more and more as I get to know it. (Only reason I still hang on to F360 is for things I haven't figured out how to do yet. I guess this will be more motivation th

[2021-07-06 12:02] suryanisaac commented on #38
Well, FreeCAD is something i'm fine with for simple parts but anything slightly complex is hard. But it's improving a lot lately and i'm hoping that it becomes better over time.

On Jul 6 2021, at 4:48 pm, vintagepc ***@***.***> wrote:

[2021-07-08 15:09] Patschke opened #40 "Installation fails on Arch: Multilib is not enabled by default"
The install-script (https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/scripts/fusion360-install.sh) will fail on Arch linux by default, since it can't install wine. Wine is available in the multilib, which is not included by default. It will still display `The installation of Autodesk Fusion 360 is completed`.

I suggest to include a check, if multilib is enabled. If it is no

[2021-07-09 07:28] Patschke commented on #40
I also needed to install `samba` (since `ntlm_auth` was missing otherwise) and `cabextract` (since wine complained bout that missing as well). So probably something along the lines of `pacman -S samba cabextract`) wouldn't hurt as well?

After installing those I am now at least presented with the Autodesk error report crash screen - a step forward ;-)

[2021-07-09 08:01] Patschke opened #41 "Failing to launch Fusion on Arch Linux"
Well, I kinda gave up. I tried to get Fusion360 running on my Arch Linux system, but I end up on the crash report screen only. While the command line output seems entirely different from #37, I followed the advice linked there anyway (it is Arch nevertheless, so might as well try). To be more precise: I did add and play around with the `d3d10core, d3d11, d3d9, dxgi` settings without success.

<det

[2021-07-09 13:22] cryinkfly commented on #41
@Patschke Thank you for your information and report! 😊

Okay I see many errors with fonts and with the language.

[2021-07-09 13:30] cryinkfly commented on #40
@Patschke Okay, can you also check if you have installed libGLU1, winbind and also openSSL:

![1505A427-3B52-4200-A285-71D55EF57930](https://user-images.githubusercontent.com/79079633/125085009-6b1cd780-e0ca-11eb-8247-c82e72aa8374.jpeg)

[2021-07-09 14:25] Patschke commented on #40
Yes, I do have `extra/glu 9.0.2-1` and `multilib/lib32-glu` installed:
[code]

Winbind is installed via `extra/samba 4.14.5-1` (actually wine told me to install winbind when I did not have `ntlm_auth`)

I've got `core/openssl 1.1.1.k-1` and `lib32-openssl` installed

I think it would be helpfull, if your installation script checks for those requirements (it will actually happily claim, that Fusion

[2021-07-09 14:29] Patschke commented on #41
Well, technically `fixme`s aren't errors, right? The only error is `0234:err:ntdll:RtlLeaveCriticalSection section 000000001E636E60 is not acquired` (and I did not find a solution for that one and finally stopped here since I wasn't sure if it is actually the source of my issues). But you are right, somewhere something is noticing that I am located in Germany - should I try reinstalling with my lo

[2021-07-09 15:39] cryinkfly commented on #41
@Patschke Yes you are right with this one:

… I had a mistake in thinking. 😅

—-

No you must do that, because I use also German! 😊🇩🇪

[2021-07-11 06:48] Evanlec commented on #41
I'm running Archlinux also (I'm in USA) and seeing pretty much the exact same error.
Crashes to crash report window and log output is very similar:

[code]

![image](https://user-images.githubusercontent.com/10586/125185325-458aed80-e1f2-11eb-9326-e9481a9bd478.png)

[2021-07-12 19:29] Z0mb1ee opened #42 "fusion does not run, error pops up"
![image](https://user-images.githubusercontent.com/83365978/125344754-f78ffa00-e357-11eb-8424-58c40e9ebec0.png)
![image](https://user-images.githubusercontent.com/83365978/125345016-489fee00-e358-11eb-9ef1-a20670391569.png)

[2021-07-14 04:24] anonizmous commented on #41
manjaro - the same error...

[2021-07-14 14:03] Z0mb1ee commented on #42
i see this when i run fusion360-start.sh from terminal
`adam@adam-ThinkPad-T430:~/Downloads/Fusion-360---Linux-Wine-Version--main/scripts$ bash fusion360-start.sh
064c:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
064c:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
0654:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
065

[2021-07-14 14:07] Z0mb1ee commented on #42
`adam@adam-ThinkPad-T430:~/Downloads/Fusion-360---Linux-Wine-Version--main/scripts$ bash fusion360-start.sh
07c0:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
07c0:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
07c8:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
07c8:fixme:font:get_name_record_codepage encoding 20 not h

[2021-07-14 18:22] W-M-D commented on #42
same :/

[2021-07-14 18:23] W-M-D commented on #42
wine-6.12
Linux xxxxxxxx 5.12.15-arch1-1 #1 SMP PREEMPT Wed, 07 Jul 2021 23:35:29 +0000 x86_64 GNU/Linux

[2021-07-15 23:25] JamesNewton opened #43 "Ubuntu 18.04, ASUS G73S, msvcp140.dll, ContentService.dll, no start."
Followed the scripts from:
https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-#installation-on-ubuntu-linux-mint-

Install barfed up /massive/ numbers of fixme's but no errors or fails and it said the install finished. I can, if needed, attach the log. System info is below.

When I try to start:
[code]

wine --version
wine-6.0.1

System info, edited to remove stuff that shouldn't matter:

[2021-07-15 23:31] JamesNewton commented on #43
I see #4 and
https://www.howtoinstall.me/ubuntu/18-04/winbind/
but doing this doesn't resolve the problem:

[code]

[2021-07-15 23:38] JamesNewton commented on #43
Saw #14 tried:
[code]
So these scripts only work in 32 bit systems? Can Fusion even run on a 64 bit Ubuntu machine?

[2021-07-16 10:21] cryinkfly commented on #43
@JamesNewton

You can use this also on your 64-bit system, but I see you must install the package „ cabextract“. 😊

Open a terminal and run this command:

[2021-07-16 16:01] paukstelis commented on #42
Same overall behavior from me on two different machines. Also, same thing happens with Lutris install scripts.

[2021-07-16 16:04] JamesNewton commented on #43
Ok, I've installed cabextract... do I need to redo the installation?

[2021-07-16 16:09] paukstelis commented on #42
Exception spit out by Fusion in application_data.xml, though probably not all that useful:
[code]

[2021-07-16 16:20] cryinkfly commented on #43
Yes, because some packages are not installed correctly. 😊

[2021-07-16 18:59] JamesNewton commented on #43
Ok, thanks. Reinstalling now via:
`cd Downloads && chmod +x fusion360-install.sh && bash fusion360-install.sh`

Do I need to do the fixes in #4 and #14 after that or should I try starting it again? I guess it doesn't hurt to try starting it again.

I hope this helps the development effort and that the need for cabextract can be added to the script for others on Ubuntu 18. I'll also be trying this

[2021-07-16 19:19] JamesNewton commented on #43
Well, I got further... It actually made it to a logo before it hung. I ctrl-c'd it after about 2 minutes... and there are errors in the log:
`wine: Call from 000000007B0113BD to unimplemented function ucrtbase.dll.feclearexcept, aborting`

After I killed it, the crash handler for Fusion popped up and wanted me to make a bug report... I close it. This is not supported by them.

I do see #38 but I'm

[2021-07-17 10:17] daviel commented on #42
same for me.

Distributor ID:	Ubuntu
Description:	Ubuntu Impish Indri (development branch)
Release:	21.10
Codename:	impish

Linux lintower 5.11.0-22-generic #23-Ubuntu SMP Thu Jun 17 00:34:23 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-07-17 13:22] cdedwards commented on #42
I get the same. the dump_unwind_info is probably the cause of the issue though. unfortunately not much info

[2021-07-17 14:35] paukstelis commented on #42
Your mileage may vary, but I did get it to start using a different wine. I tried with lutris-mtga-5.0-x86_64 (just changed executable in start script) and it started up.

[2021-07-17 17:14] cryinkfly commented on #43
@JamesNewton  I search …

https://knowledge.autodesk.com/de/search-result/caas/sfdcarticles/sfdcarticles/DEU/The-procedure-entry-point-ucrtbase-abort-could-not-be-located-attempting-to-install-Fusion-360-on-a-Windows-7-machine.html

[2021-07-17 17:33] cryinkfly commented on #42
So my assumption seems to be confirmed slowly that possibly packages are missing.

Thank you for this information @paukstelis 👍

[2021-07-17 20:09] 00schoeny opened #44 "fusion360 fails to launch when using fusion360-start.sh"
I just attempted to install and run fusion for the first time on my ASUS Q550L running Ubuntu 20.04.

After running the install script i attempted to run the start script, see terminal output below. After the first failed attempt i used ctrl-c to cancel and retried.

![Screenshot from 2021-07-17 15-04-42](https://user-images.githubusercontent.com/11008229/126048273-47b4728a-a3af-4fa5-8d33-ac793562

[2021-07-17 20:35] 00schoeny commented on #44
sudo apt update fixed my wine issues from the original post.

i am still getting a failure to load:
![Screenshot from 2021-07-17 15-34-22](https://user-images.githubusercontent.com/11008229/126048775-993c840d-3dcd-4cca-b1c2-cc80f4ea7018.png)

[2021-07-17 21:24] cryinkfly commented on #44
@00schoeny Have you installed winbind?

[2021-07-18 08:48] cryinkfly commented on #17
I have tested this with DXVK and other configuration, but it doesn't work at the moment!

Here is the a file: [backtrace.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/files/6835881/backtrace.txt)

[2021-07-18 09:59] cryinkfly commented on #38
The problem was some users have with Autodesk Fusion 360 on Linux with Wine🍷, I can say that this problem is also represented on windows!

Here is the link: https://knowledge.autodesk.com/support/fusion-360/learn-explore/caas/sfdcarticles/sfdcarticles/Fusion-360-has-installed-but-will-not-launch.html

[2021-07-18 20:31] marrobHD commented on #44
I installed winbind. Still wont open.
[code]

[2021-07-19 04:08] cryinkfly commented on #44
Okay, I know that you can find this DLL in vcrun2015. Can you install it with winetricks?

For example: winetricks -q vcrun2015

[2021-07-19 09:54] TerraRoot commented on #44
I'm getting the same issue,
`$ ./fusion360-start.sh
$ 002e:err:ntdll:RtlLeaveCriticalSection section 0x1b0fe3b0 is not acquired
wine: Call from 0x7b02dc26 to unimplemented function ucrtbase.dll.feclearexcept, aborting
wine: Read access denied for device L"\\??\\Z:\\", FS volume label and serial are not available.
wine: Read access denied for device L"\\??\\Z:\\", FS volume label and serial are not

[2021-07-19 12:36] cryinkfly commented on #44
Okay, read this one: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38#issuecomment-882031611

[2021-07-19 19:12] 00schoeny commented on #44
@cryinkfly still no luck for me after following instructions from the comment linked above and installing vcrun2015 and winbind. same behavior, hanging during startup.

[2021-07-19 21:01] cdedwards commented on #42
I managed to get fusion 360 working using the instructions from

https://gist.github.com/probonopd/0fab254aa0b6fc371d8db641822bd530

fixing the d3d11 to d3dx11

[2021-07-20 08:33] raoul596 commented on #41
I am running Ubuntu 21.04 and I am experiencing the same problem. When I run fusion360-start.sh I get: 0080:err:ntdll:RtlLeaveCriticalSection section 0x1b298e50 is not acquired
wine: Call from 0x7b02dc26 to unimplemented function ucrtbase.dll.feclearexcept, aborting
00be:err:winediag:MIDIMAP_drvOpen No software synthesizer midi port found, Midi sound output probably won't work.

Where can I find t

[2021-07-20 09:25] TerraRoot commented on #44
deleted NMachineSpecificOptions.xml, no LoginState.xml found, and no change getting the same error.

tried lutris  [#42 (comment)](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/42#issuecomment-881908378)
it started! but now it unable to login, different issue :)

[2021-07-20 16:05] cryinkfly commented on #44
@TerraRoot

Can you tell me more, what you mean about unable to login? 😊

[2021-07-20 16:06] cryinkfly commented on #42
@cdedwards

What do you mean? 😊😅

[2021-07-20 16:08] cryinkfly commented on #41
You can find a link on this site: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/wiki/Documentation

[2021-07-20 16:33] JamesNewton commented on #43
Even after translating that from German, I'm not sure what to do. I tried to install the first update mentioned, but Ubuntu doesn't seem to know what to do with an .msu file. I get "something went wrong" in software installer. Pardon my lack of knowledge but I'm not a long time Linux user, I've tried to make the transition away from Windows after Win 7. I've just used Ubuntu 16, and now 18 as my d

[2021-07-20 19:46] marrobHD commented on #44
I'm able to login but the main application won't start up. That means successful login->some minutes a white window->crash window.

[2021-07-21 09:39] TerraRoot commented on #44
`0100:fixme:netprofm:connection_GetAdapterId 0000000038A50CE0, 000000005B32B930
07c4:fixme:netprofm:connection_GetAdapterId 00000000200D3220, 000000002434B930
`

it just streams this (using lutris 6.1) i'd love to get more details but for some reason i cannot capture the output,

[2021-07-21 15:44] raoul596 commented on #41
The wine.error.log file contains the same information as I have posted before.

[2021-07-25 07:47] trumpton opened #45 "Winbind not installed"
I'm having trouble with the installation script, and one of the things I had to do to get things moving along was to install winbind.

I am running Ubuntu 20.04

sudo apt-get install winbind

[2021-07-25 07:50] trumpton opened #46 "Suggestion for install attempts without re-downloading"
It's taking several attempts with the script to get an install going (still not actually there).
Every time I run the script, it re-downloads many files, including the 1Gb application.

Could the download scripts use wget -c rather than just wget, so that if the file is already there, it is not re-fetched.

Perhaps a --force-redownload switch is necessary to override this, or the downloading of a

[2021-07-26 03:05] oschwartz10612 commented on #38
I have the following errors in `.fusion360/drive_c/users/owen/Local Settings/Application Data/Autodesk/Web Services/Log/WebServices.log`

[code]

Is this what we are looking for?

[2021-07-29 07:50] cryinkfly opened #47 "Some problems with Fusion 360 when I use XWayland!"
If you use Wine on a system with XWayland, then you can activate the option for "Emulating a virtual desktop" in the Graphics Tab in winecfg for to avoid these problems here:

    - flickering
    - wrong window location
    - wrong mouse cursor location and clicks
    - keyboard detection

[2021-07-29 07:51] #47 closed

[2021-07-31 06:39] cryinkfly commented on #46
@trumpton I have solved this problem with re-downloading!

Thank you for your help! 👍

[2021-07-31 06:39] #46 closed

[2021-07-31 08:58] cryinkfly commented on #45
When I use my script then I get winbind installed.

[2021-07-31 11:34] cryinkfly commented on #28
I add this option to my graphical installer.

[2021-07-31 11:34] #28 closed

[2021-07-31 11:37] #35 closed

[2021-07-31 11:45] #19 closed

[2021-07-31 14:57] PEERCRED commented on #38
https://gist.github.com/probonopd/0fab254aa0b6fc371d8db641822bd530#gistcomment-2799597 also worked for me. Welp, actually one only need
[code]
from that comment. Fusion 360 won't start with `winetricks d3d11=disabled` and you don't need to patch the installer.

[2021-07-31 16:19] PEERCRED commented on #38
Actually, didn't notice that
[code]
fails at installing `ie8` (needs 32-bit prefix). Removed `ie8` and added `dxvk` + `sh winetricks d3d10core=disabled d3d11=builtin d3d9=builtin dxgi=builtin`. (Now `wineserver` doesn't consume 100% CPU.)

[2021-08-01 16:07] cryinkfly commented on #28
So, now You have the option where You can install Autodesk Fusion 360 on another folder!
Here is the link: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/commit/a8df6da5864df934dd0d49e21bf7779b15fc2a25

[2021-08-01 16:47] cryinkfly commented on #44
I have deleted my start-script!!!

But here You can find the command for running Autodesk Fusion 360 over the terminal (Example):

![Bildschirmfoto_2021-08-01_18-40-20](https://user-images.githubusercontent.com/79079633/127778901-592cda15-3e52-4988-b1f2-459adcaa7e3d.jpg)
![Bildschirmfoto_2021-08-01_18-40-39](https://user-images.githubusercontent.com/79079633/127778903-f691be51-ff90-4573-bad5-f68cf

[2021-08-01 16:47] #44 closed

[2021-08-01 17:09] marrobHD commented on #44
Could you please copy paste the start command here? It would be way easier to use than coping it from the screenshot.

[2021-08-01 20:20] cryinkfly commented on #38
@ Can you testing my new version of the installation-script, please. 🕛

[2021-08-02 05:13] alice-cash commented on #38
I can confirm the latest install script works and Fusion launches now without issue. Though the object browser items seem to be stuck in the foreground and are currently on top of my chrome window.

[2021-08-02 05:46] cryinkfly opened #49 "sha256 Mismatch Returns *solved*"
If You have a problem like this one:

Then you must check if you have the newest winetricks version!

- [GitHub-Project of winetricks](https://github.com/Winetricks/winetricks)
- [wineticks file](https://raw.githubusercontent.com/Winetricks/winetricks/master/src/winetricks)

Then there is still a way to force the installation of for example vcrun2019 and thus the sha256sum check is skipped!

But i

[2021-08-02 05:46] #49 closed

[2021-08-02 09:05] cryinkfly commented on #38
@alice-cash Thank you for your report. 👌

[2021-08-02 09:06] #38 closed

[2021-08-02 09:08] #42 closed

[2021-08-02 09:09] cryinkfly commented on #42
Here can you see, it works now again: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38

[2021-08-02 09:11] cryinkfly commented on #43
Here can you see it works now: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38

[2021-08-02 09:11] #43 closed

[2021-08-02 09:12] cryinkfly commented on #37
Can you testing my new installation-script.🕛

[2021-08-02 09:14] cryinkfly commented on #29
Can you testing my new installation-script: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/38

[2021-08-02 10:11] cryinkfly commented on #27
Can you testing my new installation-script. 🕛

[2021-08-02 10:12] cryinkfly commented on #21
Can you testing my new installation-script. 🕛

[2021-08-02 18:38] ReubenBTalbott opened #50 "Add note in README that the package "dialog" is requred."
Hi, spent around an hour trying to figure out why your script wasn't working, turns out it was my distro's fault (Kubuntu) because it didn't have the package "dialog" installed, you may want to put a note about that in the README or add a check in the script.

Thanks!
Reuben Talbott

PS. Thanks for making the script!

[2021-08-02 19:26] cryinkfly commented on #50
I have added this package to my README and to my documentation. 👌

[2021-08-02 19:26] #50 closed

[2021-08-02 21:21] mavaa commented on #44
[code]

This worked for me, just replace the content of the F360DIR variable

[2021-08-03 00:12] Evanlec commented on #41
Here are a couple other files that get included in the crash dump that would be sent to Autodesk, if this helps at all @cryinkfly

<details>
<summary>dmpuserinfo.xml</summary>
[code]
</details>

<details>
<summary>AppLogFile20210802T191759.log</summary>
[code]

</details>

[2021-08-03 01:52] Ph4nt0mh4x0r opened #52 "The install script simply won't launch *solved*"
For some odd reason when I launch the script it does nothing. No welcome screen or anything like that. I did run chmod +x fusion360-install.sh and yet it decided not to run. I am using Manjaro on the 5.10.53-1-MANJARO kernel.

[2021-08-03 03:55] ConorIA commented on #52
Just ran into this. The script fails silently if dialog is not installed. `pacman -S dialog`

[2021-08-03 04:24] Ph4nt0mh4x0r commented on #52
Oh wack that's interesting. Thanks for letting me know!

On Mon, Aug 2, 2021, 10:55 PM Conor Anderson ***@***.***>
wrote:

[2021-08-03 05:05] cryinkfly commented on #52
@Ph4nt0mh4x0r Thats the reason why you look into my [documentation](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/wiki/Documentation). 😅

![446ECBB9-1740-4A3E-9ECA-06111D95497B](https://user-images.githubusercontent.com/79079633/127960645-1677a505-e43e-40a3-897e-ff3a279a2afe.jpeg)

[2021-08-03 05:08] ConorIA commented on #52
#51 will help!

[2021-08-03 05:24] cryinkfly commented on #52
@ConorIA  Thank you for the help. 😊

I just wanted to point out that you should take a look at the documentation beforehand. 😅

[2021-08-03 05:27] #52 closed

[2021-08-03 05:31] cryinkfly commented on #45
So a user with Kubuntu get to running Autodesk Fusion 360 with my new installation script. 👌

Link to this issue: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/50

[2021-08-03 05:31] #45 closed

[2021-08-03 09:00] Le0xFF opened #53 "[Not an issue] Fusion360 working under Void Linux"
As title says, this is not an issue.

I got Fusion360 working on Void Linux and I've documented every step in [my gist](https://gist.github.com/Le0xFF/6d2476c64280e4308664ddf9d12c566f). If you think this could be added to your script, I'll be really glad :smile:
If you need more infos, ask me anything!

I've also tried Vulkan as renderer with dxvk but sadly with no luck. OpenGL seems the only one

[2021-08-03 10:58] cryinkfly commented on #53
@Le0xFF Thank you so much for this report and for your work!!! 👍👌

[2021-08-03 15:27] mellery opened #54 "Linux Mint 20.2 Support"
Is linux mint 20.2 supported?  I get an error during install about the wine-staging package, it's version references hirsute, so it's looking for the ubuntu version.

[2021-08-03 16:13] cryinkfly commented on #54
Linux Mint 20.2 use Ubuntu 20.04 as basis and so you must select this one. 😊

Link: https://wiki.winehq.org/Ubuntu

[2021-08-03 19:07] cryinkfly commented on #53
@Le0xFF So, I have added Void Linux to my installation-script! 🚀

[2021-08-03 19:07] #53 closed

[2021-08-03 19:19] cryinkfly commented on #40
I have changed my installation-script (Support Arch Linux & Void Linux)! 🚀

[2021-08-03 19:19] #40 closed

[2021-08-03 19:22] cryinkfly commented on #41
I have changed my installation-script (Support Arch Linux & Void Linux)! 🚀

[2021-08-03 19:22] #41 closed

[2021-08-03 19:23] cryinkfly commented on #37
I have changed my installation-script (Support Arch Linux & Void Linux)! 🚀

[2021-08-03 19:23] #37 closed

[2021-08-03 19:24] cryinkfly commented on #21
I have changed my installation-script (Support Arch Linux & Void Linux)!

[2021-08-03 19:24] cryinkfly commented on #29
I have changed my installation-script (Support Arch Linux & Void Linux)!

[2021-08-03 22:18] mellery commented on #54
Thanks, I'm getting broken packages, libc6 in mint 20.2 is at 2.31-0ubuntu9.2

wine-staging:
  Depends: libc6 (>=2.33) but 2.31-0ubuntu9.2 is to be installed
 Depends: wine-staging-i386 (= 6.14~hirsute-1)
 Depends: wine-staging-amd64 but it is not going to be installed

[2021-08-04 04:42] cryinkfly commented on #54
Very interesting. 🤔 Then we must search why it’s so.

[2021-08-04 04:51] cryinkfly commented on #54
I have found this issue: https://askubuntu.com/questions/1315906/unmet-dependencies-libc6-the-package-system-is-broken

[2021-08-04 05:39] cryinkfly commented on #29
Also I think it will be good for all users to look to this issue: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/54

[2021-08-04 08:08] Patschke commented on #41
Awesome, works for me (after removing the `exit` statement in line 244, since the script will simply stop after I confirmed that I in fact do have multilib already enabled)!

[2021-08-04 17:29] cryinkfly commented on #41
@Patschke Thank you for this information! 🙂

I have solved this problem.

[2021-08-05 07:04] Druco commented on #30
Fusion 360 Version: 2.0.10564
Graphics card: Radeon RX 5500XT
Driver: amdgpu from kernel 5.13.4
OS: OpenSuSE Tumbleweed 20210731
Desktop: KDE Plasma
Wine Version: 6.13 (Staging)
DX9: works
OpenGL: works

[2021-08-05 11:42] azurusnova opened #55 "Enter the path for your Fusion 360?"
It's giving me an example, but I am not sure if thats what I am supposed to use, or if I am to point it to a specific location, or if this is just where I want it to install to.

I need some clarification for this please.

[2021-08-05 15:15] cryinkfly commented on #55
You can install it anywhere you want.

For example, you can install it in your home directory (/home/USER/.fusion360) or you install it on a USB stick (/media/usb-drive/.fusion360).

The .fusion360 folder will then be created for you automatically. 😊

[2021-08-05 15:32] #55 closed

[2021-08-05 16:15] Evanlec commented on #41
@cryinkfly hurry, it works now, well done!

[2021-08-05 22:50] theol0403 commented on #29
I'm not sure where the problem was fixed (wine/os update, fusion update, or script update), but fusion now works on my machine! Thank you so much!

[2021-08-07 10:58] cryinkfly commented on #29
Script-update 😅

[2021-08-07 11:00] #29 closed

[2021-08-07 14:43] rusk911 opened #56 "Can't make new window"
After prompting for installation location script dies with message "Can't make new window at (-1,0), size (25,78)."
OS Linux Mint 20 ulyana.
dialog installed. All installations processed with no issues.

[2021-08-07 14:55] rusk911 commented on #56
Solved. It appears when a terminal emulator window has standard dimensions. Extending to fullscreen solved the issue.

[2021-08-07 14:55] #56 closed

[2021-08-08 16:07] cryinkfly commented on #56
@rusk911 I have changed my script, so we have solved this issue for all users! :rocket:

Thank you for this report!!! :+1:

[2021-08-09 09:41] cooked opened #57 "sudo: add-apt-repository: command not found"
Hi,
thanks for this great script. I run into the error above (and the installation failed) since in my system, running Debian 10, the command was missing for some reason.
I solved installing software-properties-common package with the following command
`sudo apt-get install software-properties-common`

Maybe consider adding that as a requirements into the script

cheers
Stef

[2021-08-09 16:42] JamesNewton commented on #43
Confused. The install script asks what version of Ubuntu I have and the only options are 20 and 21. Is Ubuntu 18 no longer supported? See above this issue is for 18.04 which is 18 LTS.

[2021-08-09 19:04] cryinkfly commented on #57
@cooked Thank your for this information! :+1:

I have added this package to my installation-script. :rocket:

[2021-08-09 19:04] #57 closed

[2021-08-10 05:23] cryinkfly commented on #43
@JamesNewton Unfortunately you were too early to download. 😅 Because I was still working on the script to add this ubuntu version, as well as redhat and solus. 😊

[2021-08-10 12:56] SuibianP opened #58 "Persisting splash screen and lost drawings"
- The right side of the splash screen never disappears
- No model/drawing appears in the panel despite any operations including zooming, moving, etc., rendering it totally unusable (but the thumbnail shows just fine)
- Expanded hierarchy sometimes overlaps with other nodes

All three issues are reflected in the screenshot below. The application neither reported any errors via GUI nor crashed. Logs

[2021-08-10 13:36] cryinkfly commented on #58
@SuibianP Please check in Autodesk Fusion 360 if you have selected OpenGL:

![68D011F8-F805-4233-A6FB-656ED455C7EE](https://user-images.githubusercontent.com/79079633/128876650-14d88bee-a215-450e-b976-d49e4ee51c58.jpeg)

[2021-08-10 13:49] SuibianP commented on #58
@cryinkfly The issue did go away after changing it to auto-select. Thanks a lot.

Sorry for the not-really-an-issue, and could you please explain a little bit on why this happens? It was not in the FAQ and I was under the illusion that [OpenGL support in wine](https://wiki.winehq.org/Wine_Developer%27s_Guide/Wine_and_OpenGL#What_is_needed_to_have_OpenGL_support_in_Wine) is rather complete 🤔

[2021-08-10 14:04] cryinkfly commented on #58
@SuibianP Normally, my installation script downloads the NMachineSpecificOptions.xml file, which basically presets OpenGL so that this problem does not occur.

I think that your wine installation have set up another path for this file:

![Bildschirmfoto_2021-08-10_16-01-10](https://user-images.githubusercontent.com/79079633/128880746-77cfe7a0-6967-42fe-b315-e49e390acd67.png)

... and so it will be

[2021-08-10 14:07] cryinkfly commented on #8
For all users, please also check out this issue: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/58

[2021-08-11 03:39] SuibianP commented on #58
@cryinkfly The location of `NMachineSpecificOptions.xml` seems exactly where they are supposed to be as per the script 🤔 I am not sure about the two `Filelock` ones, though.

[code]

[2021-08-11 04:45] cryinkfly commented on #58
@SuibianP Ah okay that is the problem what I mean. 😅 Sometimes it’s so that the path for this file is different and so I must change the point in my documentation, when some users have the same problem as like you. 🤔

Thank you for your time and help! 😊

[2021-08-11 04:45] #58 closed

[2021-08-11 21:59] JamesNewton commented on #43
Ok, I re-installed using that new script. When I start it using the icon, nothing happened. So  tried via the old ./fusion360-start.sh script. It got to the splash and hung. I restarted, then tried again via the old ./fusion360-start.sh script. It did the same. It keeps reporting:
[code]
over and over until I exit the terminal.

I don't see anything in the issues list about " LOCKTABLEENTRY.crit "

[2021-08-13 01:26] alejojo commented on #44
Thank you @mavaa , let me do small modification to make it usable for everybody:

[code]

[2021-08-13 02:34] bespokecomponents opened #59 "Can't get past this wine-staging error"
Please can you explain for to get past this after running your script in Ubuntu 18.04.5 LTS?

[code]

[2021-08-13 07:25] cryinkfly commented on #59
I check this for you. :+1:

![Bildschirmfoto_2021-08-13_09-24-37](https://user-images.githubusercontent.com/79079633/129320212-254bcf8c-c02f-4c7b-9d3a-441a42fc5d52.png)

[2021-08-13 07:38] cryinkfly commented on #59
Okay I get the same error:

![Bildschirmfoto_2021-08-13_09-37-27](https://user-images.githubusercontent.com/79079633/129321714-a0d58b84-ebb9-4e25-85f8-82819fad3d9f.png)

[2021-08-13 08:09] cryinkfly commented on #59
@bespokecomponents So I have found a solution!!! ^^

![Bildschirmfoto_2021-08-13_10-08-56](https://user-images.githubusercontent.com/79079633/129325616-95c903a6-0669-4871-95ff-514335904239.png)

I will change my installation-script in the next time!

[2021-08-13 08:14] #59 closed

[2021-08-13 08:29] cryinkfly commented on #54
@mellery I have change the installation-script! :+1:

[2021-08-13 09:33] Blue-Beaker opened #60 "Some Chinese fonts still missing."
Some Chinese fonts still missing, causing Chinese filenames in the sidebar shown as rectangles.
Some other languages may have the same problem, such as Korean and Japanese.
![Screenshot_20210813_173204](https://user-images.githubusercontent.com/17115547/129336958-3b1a91de-cbfc-423f-a6df-eb799fa28e84.png)

[2021-08-13 10:04] cryinkfly commented on #60
@Blue-Beaker Thank you very much for this report. This is the first time I see this issue. 😲

[2021-08-13 10:21] cryinkfly commented on #60
Maybe, this helps you: https://askubuntu.com/a/1019572

[2021-08-14 17:01] mellery commented on #54
thanks!  That fixed the installer, I get a blank window after the fusion 360 splash screen closes

[2021-08-14 17:36] mellery commented on #54
rebooted and left it open for a long time and it started working!  Thanks for the script!

[2021-08-14 17:36] #54 closed

[2021-08-15 00:18] danieldides opened #61 "7zip "Failed to load Config" issues on Arch Linux *solved*"
Hello! Thanks so much for putting this script together and supporting it as you are. I'd love to get it working on my machine but I'm having some issues.

I'm running Arch Linux, fully updated. The script seems to run through but fails after downloading the Fusion installer. Eventually, it fails and a Wine window titled "7-Zip" pops open with the text saying "Can't load config info."

In the logs,

[2021-08-15 04:06] #21 closed

[2021-08-15 04:07] #27 closed

[2021-08-15 04:20] cryinkfly commented on #61
Can you please download my script again, because I have revised it again! 😊

[2021-08-15 10:53] CLOCKERBOT67 commented on #30
Autodesk Fusion 360 Version: 2.0.10564
Graphics card model: GTX 1070 Mobile
Graphics card driver: 460.91.03
Operating system: Linuxmint 20.1 ulyssa
Desktop environment: Cinnamon 4.8.6
DXVK- or OpenGL-Mode: OpenGL

Thank you! I'm new to Linux and I had very few issues in getting this up and running.

[2021-08-16 17:54] cryinkfly commented on #60
# I work on a solution!

![Bildschirmfoto_2021-08-16_19-52-51](https://user-images.githubusercontent.com/79079633/129607850-dfff8a27-5902-48ef-b83d-82926b597856.png)

[2021-08-16 18:29] cryinkfly commented on #60
# I have solved this problem. :+1:

What we need is "cjkfonts" and this one we must install with winetricks!!!

I change my installation-script!

https://user-images.githubusercontent.com/79079633/129611949-fa601460-3b0b-449d-8dbe-ebada813f899.mp4

[2021-08-16 18:29] #60 closed

[2021-08-16 18:59] Glasses8448 opened #62 "x-gnome crashes after machine is almost completlly booted up"
Since the first reboot after executing the script (everyting went fine, fusion360 was running fine), I have trouble starting my system.

The system boots up quite normaly, I see my usual Desktop about two seconds and than the desktop enviroment crashes, blank screen about one second, and than it promted me this terminal like screen.
On the first boot, the last line of it was: *nvidia persistence d

[2021-08-16 19:47] Glasses8448 commented on #62
Pop!_OS 21.04.
gnome 3.38.5
GeForce GTX 1050Ti

[2021-08-17 02:04] nitro2k01 commented on #30
Autodesk Fusion 360 Version: 2.0.10564
Wine version: wine-6.15 (Staging)
System: Lenovo Thinkpad T450s
Graphics card model: Intel Corporation HD Graphics 5500 (rev 09)
Graphics card driver: Unsure what to look for with an Intel card, but here's a try:
i965-va-driver:amd64 2.4.0-0ubuntu1 (from dpkg -l)
[code]
Operating system: Kubuntu 20.04
Desktop environment: KDE Plasma
OpenGL core profile: Works

[2021-08-17 06:40] cryinkfly commented on #62
@Glasses8448 Hey 👋, my script updates your system with your sets of repositories and then the Wine-Repository is added and all packages are needed, such as wine installed.

Maybe by updating certain packets are not compatible with each other. 💤

Can you please send me your log file from the boot process? 🙂

This file can be found at this path:

[2021-08-17 17:50] cryinkfly commented on #30
@nitro2k01 Thank you for your report! 🙂

The UI is slightly sluggish sometimes but functional enough.
There are some issues with some of the panels in the UI. Sometimes they are always on top even when in a different app. The folding tree menus don't open properly and push down other items, so items are drawn on top of each other. See screenshots.

I'm already aware of this problem. (https://githu

[2021-08-19 07:57] Evanlec opened #63 "Font Size to tiny - 4K screen"
The fonts are awfully tiny for me, making it very difficult to use.

I've tried increasing the font DPI setting via `winecfg` and also tried enabling the HighDPIScaling preview feature within Fusion360, but to no avail (all fonts are still tiny):

[code]
![image](https://user-images.githubusercontent.com/10586/130030842-3299134d-0c38-433d-9871-1093381c4bd2.png)

![image](https://user-images.github

[2021-08-20 02:08] Evanlec commented on #10
This happens to me as well (have to force quit everytime I want to exit). ArchLinux. Would be great if it could shut down cleanly.

[2021-08-20 14:27] Glasses8448 commented on #62
I solved the problem by reconfigurating my system. It seems that the error was on my side and your skript wasnt involved in it at all. Thanks for your response and the effort, you have invensted in this skript.

[2021-08-20 14:27] #62 closed

[2021-08-20 14:43] MrAvana opened #64 "Unable to launch"
0104:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1. 
0104:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
0104:fixme:shcore:SetCurrentProcessExplicitAppUserModelID L"AutodeskInc.Fusion360": stub
010c:fixme:font:get_name_record_codepage encoding 20 not handled, platform 1.
010c:fixme:font:get_name_record_codepage encoding 20 not handled, platform

[2021-08-20 16:43] cryinkfly commented on #64
Here is described a workaround for your problem. 😊

- https://www.google.de/amp/s/amp.reddit.com/r/linux_gaming/comments/mfw36e/x_error_of_failed_request_glxbadfbconfig_after/

[2021-08-20 16:54] cryinkfly commented on #63
@Evanlec Can you testing Autodesk Fusion 360 again with this option:

![A821B2D9-662E-403B-8B3C-4BDD5D3E2269](https://user-images.githubusercontent.com/79079633/130267383-0c66efc8-b29f-4c6c-b981-c00d553e4fdd.jpeg)

[2021-08-20 16:59] #61 closed

[2021-08-21 13:47] MrAvana commented on #64
Thank you for the workaround! I'm almost there but I'm facing another problem.

Fusion 360 starts up, shows the logo (image a.jpg), then shows a white screen (image b.jpg) and gets stuck there (image c.jpg). I waited 10 minutes to see if it will finally load but nothing happens.

I tried applying OpenGL setting before 1st launch but it doesn't help. The date and time on my computer are also correc

[2021-08-21 20:51] MrEdd123 commented on #63
Hallo Evanlec,
i have the same Problem.
You must change the resolution in wine user.reg to your Monitorresolution.

https://askubuntu.com/questions/1035000/change-resolution-in-wineconfig

[2021-08-23 11:40] Tony763 commented on #18
Hi, is this necessary?  Installer run its own version of python (3.7).

[2021-08-23 11:45] Tony763 commented on #17
With wine 6.15 it's still not running. I opened a bug in wine Bugzilla [51664](https://bugs.winehq.org/show_bug.cgi?id=51664).

[2021-08-23 19:46] moham96 opened #65 "some elements seems detached from the main window"
Is this really working for everyone else?
first try for me the program would install but would not login, after cleaning the wineprefix and starting again, i can now login and open the programs but it's unstable. if i minimize and then maximize the window then it wouldn't draw quickly, if i maximize the window and then open up a new window of another program then some of the elements of the Fusion

[2021-08-24 05:49] cryinkfly commented on #65
@moham96 Hey 👋🏻,

this issue is already opened here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/9

[2021-08-24 05:49] #65 closed

[2021-08-24 05:57] #63 closed

[2021-08-24 12:28] Tony763 commented on #17
Hi @cryinkfly,  I run version 2.0.10806 on wine-staging 6.15, OpenGL core and Drawings works. I just need to sometime zoom in/out when I run mouse over interface, screen gray out.

My start script:
[code]

![image](https://user-images.githubusercontent.com/5598750/130616328-ffce7d77-7f39-4dba-b2af-2a6afafd9b6d.png)

[2021-08-25 09:57] blazej222 opened #66 "Selecting some objects with left click does not highlight them"
I'm using laptop with 2 Graphics Cards - Nvidia and Intel. OS is Archlinux, drivers are nouveau and mesa. When hovering over face of an object it changes color from grey to slightly brighter grey, but after left clicking face its color is indistinguishable from non-clicked variant. The object is selected, because I can freely move it and change its attributes, but it is not highlighted in blue as

[2021-08-27 06:36] brano1990 opened #67 "Fusion 360 not working on Ubuntu 20.04 with Quadro P2000-GPU"
hello not working properly

The cloud works but does not display the drawing

I use the version on windows free

it doesn't work on lunux

![Snímka obrazovky z 2021-08-27 08-30-19](https://user-images.githubusercontent.com/59432151/131082814-4d5f0919-f085-410b-ae55-0281a6c40e42.png)

[2021-08-28 19:45] ManuGithubSteam commented on #18
Yes this is necessary as it will force the installer to run even if it does not detect a Windows OS. This has nothing to do with the Python version it just downloaded a unfuckedup version of platform.py from pythons so it does not have to use the one from autodesk wich will not let us run the installer in linux or mac. then it makes sure to run the installer.

[2021-08-28 19:56] Tony763 commented on #18
I'm referring to issue #12 as newest installers does not contain broken 'platform.py'. I reinstalled fusion a week ago and it worked without this.

[2021-08-29 09:38] ManuGithubSteam commented on #9
@cryinkfly  First let me say that this is awesome! I finialy can use fusion without vmware!
I would like to see your script imprved with the virtual desktop to contain these windows so it is a clear boundry between linux windows and Wine/fusion stuff. Also could you share your xdotool solution script ? saves me some time.
Thanks and very much appreaate your work.

[2021-08-29 10:06] ManuGithubSteam commented on #30
Runs great on Archlinux with free amdgpu driver.

Autodesk Fusion 360:  2.0.10813
Graphics card model: Advanced Micro Devices, Inc. [AMD/ATI] Navi 22 [Radeon RX 6700/6700 XT
Graphics card driver: mesa 21.2.1 vulkan Vulkan Instance Version: 1.2.187
Operating system: Arch Linux
Desktop environment: KDE Plasma
DXVK- or OpenGL-Mode: OpenGL (it was installed with the script like this)

[2021-08-30 05:12] roboticsmick opened #69 "New electronics library errors *solved*"
I get a few warning errors popping up every few minutes when I'm in the "New Electronics Library".

`Can't open 'C:\Program Files\Autodesk\webdeploy\production\2719e3c6bed8896e3c7319fbb8bfbceff8f489a4\Applications\Electron\LibEagle\examples\scripts\examples\eagle.scr'
Too many open files`

And when I create a schematic:
![image](https://user-images.githubusercontent.com/70121687/131287788-3bb96304

[2021-08-30 08:18] cryinkfly commented on #67
@brano1990 Can you tell me more about your repository's and if you have installed the newest NVIDIA graphics card drivers.

[2021-08-30 08:20] cryinkfly commented on #66
@blazej222 Thank you very much for this information. I'll take a look at it later.

[2021-08-30 08:53] cryinkfly commented on #17
@Tony763 Thank you so much for this information!!!

I have tested this on my system with a NVIDIA graphics card and without your extra options:

... and it works very well!!!

![drawing_bearing.png](https://raw.githubusercontent.com/cryinkfly/Fusion-360---Linux-Wine-Version-/main/images/drawing/drawing_bearing.png)

I have the same issue, but it is not so bad. The important thing now is that it wo

[2021-08-30 08:57] Tony763 commented on #17
Hi @cryinkfly  I have to specify them as I have 3 GPU's. Integrated Intel, Dedicated Nvidia and AMD in External M.2 dock so these commands are just specific to my PC to select correct gpu.

[2021-08-30 09:00] cryinkfly commented on #17
@Tony763 Okay, very nice setup! ^^

... and thanks for your reports and help! :1st_place_medal:

I mentioned you here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/blob/main/COMMUNITY.md

[2021-08-30 09:00] #17 closed

[2021-08-30 09:03] Tony763 commented on #17
Wow, Thanks. :slightly_smiling_face:

[2021-08-30 10:32] cryinkfly commented on #69
When I create a new one:

![1_electronics_library.png](https://raw.githubusercontent.com/cryinkfly/Fusion-360---Linux-Wine-Version-/main/images/electronics/%231_electronics_library.png)

![1.1_electronics_library.png](https://raw.githubusercontent.com/cryinkfly/Fusion-360---Linux-Wine-Version-/main/images/electronics/%231.1_electronics_library.png)

[2021-08-30 11:24] cryinkfly opened #70 "Program Launcher - Standard Installation *solved*"
1. Download my [Program Launcher - Standard Installation](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/raw/main/files/Autodesk%20Fusion%20360.desktop)
2. Change to this path:

         /home/steve/.local/share/applications/

3. Save there my file "Autodesk Fusion 360.desktop"

[2021-08-30 11:25] #70 closed

[2021-08-30 11:41] cryinkfly commented on #17
I have created a program launcher for all users the have selected the standard installation path: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/70 :+1:

[2021-08-30 16:09] Tony763 opened #71 "New launcher maybe do not run newest version. *solved*"
Hi @cryinkfly, I am not 100% sure but i think when Fusion get (bigger) update, directory name is changed.

New launcher presented in  PR #70 uses:

`find /$HOME -name Fusion360.exe -printf %h -quit 2>/dev/null`
and for me it return:
`//home/tony/aplications/fusion360/drive_c/Program Files/Autodesk/webdeploy/production/e69ac0f55aa8512db83c718906bbdedf0daa2f89`

But that's not latest version, correc

[2021-08-30 17:10] cryinkfly commented on #71
Hey @Tony763 I already noticed that in advance ... 😅

But since I'm actually still on vacation, I haven't checked that when a newer version comes out. 🤔😊

Thank you again for your great help! 👌

[2021-08-30 19:47] cryinkfly commented on #71
So I was able to incorporate your idea and created a solution:

    fusion360starter="$(find $HOME -name Fusion360.exe -printf "%T+ %p\n" | sort -r 2>&1 | head -n 1 | sed -r 's/.+0000000000 (.+)/\1/')" && WINEPREFIX="$HOME/.wineprefixes/fusion360" wine "$fusion360starter"

[2021-08-30 20:11] #71 closed

[2021-08-31 17:56] blazej222 opened #73 "Laggy selection and highlight"
OS: ArchLinux 5.13.13
GPU: Nvidia GTX 980, Nvidia 940mx on laptop
GPU drivers used : `nvidia` (proprietary), `nvidia-utils`, `lib32-nvidia-utils`
I also have installed `mesa`, `lib32-mesa`, `mesa-utils`.

I was able to reproduce the issue on my PC and laptop.

After selecting an object with lmb(sketch line or object face) it stays highlighted until you click twice somewhere else. If you draw an em

[2021-09-02 07:07] cryinkfly commented on #44
Here you can find more about my new program launcher: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/70

[2021-09-02 14:44] TN-1 commented on #66
I can confirm this issue. Ubuntu 21.04 with Intel HD 620, driver is:
/lib/modules/5.11.0-31-generic/kernel/drivers/gpu/drm/i915/i915.ko

[2021-09-02 14:52] TN-1 commented on #30
So far it's running pretty well, there's a few little hiccups here and there but I can deal with it. Thanks!

Autodesk Fusion 360: 2.0.10813
Graphics card model: Intel HD 620
Graphics card driver: /lib/modules/5.11.0-31-generic/kernel/drivers/gpu/drm/i915/i915.ko
Operating system: Ubuntu 21.04
Desktop environment: GNOME
DXVK- or OpenGL-Mode: OpenGL (it was installed with the script like this)

[2021-09-02 16:04] tomlawesome opened #74 "pzip-full and pzip-rar not available for Manjaro *solved*"
I noticed it mentioned Manjaro is compatible, but I can't find two of the required packages even in the AUR repo.

- pzip-full
- pzip-rar

Mentions Manjaro/Arch support here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-#hardware-and-software-requirements

________________________

![image](https://user-images.githubusercontent.com/76453276/131878161-c2f5b040-62d1-42c3-b6a4-684cb24

[2021-09-02 17:00] blazej222 commented on #66
I've tested multiple configurations, and this problem occurs only on Intel GPU and only with OpenGL as renderer - after switching to DX9 I was able to run Fusion without any issues (I fixed crashes on DX9 with Intel GPU by removing `xf86-video-intel` and other `xf86-` related packages, btw. those cause a lot of problems with Fusion so use modesetting driver instead if you encounter any issues).

M

[2021-09-02 17:14] blazej222 commented on #74
Hi, in ArchLinux/Manjaro this is just one single package called `p7zip`. You can see the packages installed in install script:
`function archlinux_2 {
   sudo pacman -Sy --needed wine wine-mono wine_gecko winetricks p7zip curl cabextract samba ppp
}`
I believe `p7zip` is split into multiple packages in other distros, hence those names are present in "requirements".
Do you have any problems with ru

[2021-09-02 18:00] apopticon commented on #30
Have it running as of this morning on Linux Mint 20.2, Cinnamon Desktop 5.0.5
Lenovo P1 with Hi-DPI screen (3840 x 2160), NVIDIA On-Demand profile activated.
I used the script, version 3.7

Launching program using the launcher the installer script created on the desktop.
Only works properly when selecting DX9 in fusion.
Have display weirdnesses as described by others, like controls displaying over

[2021-09-02 19:21] cryinkfly commented on #74
@tomlawesome The packages you see in the picture are just a brief overview. :+1:

[2021-09-02 19:22] #74 closed

[2021-09-02 19:59] tomlawesome commented on #74
Yes, unfortunately neither script works.

Flatpak script fails too (I appreciate this is experimental):

[code]

[2021-09-02 20:08] blazej222 commented on #74
What message does the main (not flatpak) script fail with?

[2021-09-02 20:09] tomlawesome commented on #74
Just running it again now, it spams this warning constantly throughout running the script:

[code]

[2021-09-02 20:15] blazej222 commented on #74
Ok, have you tried running the app after closing installation? You didn't have error *before* installation finished, so I suppose you might try running the app?

Please run it via this command (replacing paths if necessary)
[code]
If you encounter any errors, paste them here.

Sometimes wine just throws out random errors without any real reason.

[2021-09-02 21:22] cryinkfly commented on #74
@blazej222 and @tomlawesome Check this new program launcher: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/70

Then I have implemented this in my installation script! ✅

[2021-09-03 04:45] cryinkfly commented on #67
Please check this one: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/30#issuecomment-911928607

[2021-09-03 04:45] #67 closed

[2021-09-03 05:58] blazej222 commented on #73
This issue persists only on Nvidia proprietary drivers, I was unable to reproduce it on nouveau or intel drivers. It doesn't matter if I run Fusion with OpenGL or DX9 as Renderer (so it's clearly driver-related). Here's the output of `glxinfo -B`on my laptop with Nvidia Card, since I'm currently away from home and main PC.
[code]

[2021-09-03 06:07] blazej222 commented on #66
Ok, did some more testing and was able to reproduce this issue on Nvidia card (with DRI_PRIME=1) on `nouveau` drivers. Same case as Intel GPU, no highlighting on OpenGL renderer, works perfectly fine on DX9 renderer.

`glxinfo -B` on `nouveau`:
[code]

`glxinfo -B` on Intel:

[code]

Both use Mesa OpenGL, so that could be the problem.

[2021-09-03 08:02] TN-1 opened #78 "DXVK & DX9/11"
Installed DXVK through winetricks, and selected DX9/11 in the Fusion 360 graphical settings.
Startup and the base UI seems to be better behaved than using OpenGL (Toolbars dont stay on top, general performance seems better), however the main screen is borked.
![Screenshot from 2021-09-03 17-30-34](https://user-images.githubusercontent.com/11869589/131971887-0cc18fda-e206-4fa1-8bc7-6587c7a3137f.png

[2021-09-03 08:16] cryinkfly commented on #78
## When you will use DXVK then you must change these things:

- d3d10core = disabled
- d3d11 = native
- d3d9 = builtin
- dxgi = native

... and then you must selected DX9 in the Fusion 360 graphical settings and restart the program!

![Bildschirmfoto_2021-09-03_10-14-04](https://user-images.githubusercontent.com/79079633/131973483-8739d680-189c-4f35-8ff1-67e7339892f5.png)

[2021-09-03 08:22] TN-1 commented on #78
Thats got it working, and from a very quick mess around has greatly improved performance. Thankyou!

[2021-09-03 08:22] TN-1 commented on #66
I was able to fix this by using DXVK and DX9. See #78

[2021-09-03 08:44] cryinkfly commented on #78
That was in my manual at the time and had taken it out because Autodesk had then published the OpenGL variant and for some users it worked better than the dxvk variant. ⚙️

But I will include it in detail in the documentation. 😊

[2021-09-03 11:38] cryinkfly opened #79 "Activate DXVK and use DirectX 9 *solved*"
Would you like to use Autodesk Fusion 360 with DirectX 9 instead of OpenGL?

Then you have to work through the following steps:

**1) Install the package "dxvk" with the help of winetricks!** Example command:

       WINEPREFIX=/home/$USER/.wineprefixes/fusion360 sh winetricks -q dxvk

**2a) Autodesk Fusion 360 has already started:**

**2b) Autodesk Fusion 360 was configured by you after the insta

[2021-09-03 11:40] #79 closed

[2021-09-03 11:41] cryinkfly commented on #78
I have published a manual: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/79

[2021-09-03 11:41] #78 closed

[2021-09-03 14:16] apopticon commented on #30
I'll have to follow up on this when I have a chance this afternoon. I had only switched the driver option in Fusion 360, so I need to implement the other changes as outlined in https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/79#issue-987683831

[2021-09-03 14:59] cryinkfly commented on #73
@blazej222 I have found your post here: https://bbs.archlinux.org/viewtopic.php?id=269268

… and I think this configuration is a better solution for your system: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/79

[2021-09-03 15:00] cryinkfly commented on #69
@roboticsmick Can you give me more information about your system? 😊

[2021-09-03 15:00] #66 closed

[2021-09-03 19:03] blazej222 commented on #73
While it would be a perfect solution for my laptop (well, more like workaround since I'm forced to use Intel GPU) I cannot apply it on my main PC, because I have only Nvidia Card there, and switching OpenGL to DX9 unfortunately doesn't change anything :cry:

[2021-09-03 21:16] ManuGithubSteam commented on #79
What is the benefit of running it with DirectX 9  ? will the GUI glitches be gone ?
Thanks!

[2021-09-04 04:32] TN-1 commented on #79
@ManuGithubSteam Some users report a better experience, including me. Other people have a better experience on OpenGL. It's just a matter of seeing what works best for your setup.

[2021-09-04 10:05] cryinkfly commented on #17
@Tony763 Can you give me some information about you graphic cards [here](https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/30)?

[2021-09-04 10:45] Tony763 commented on #17
@cryinkfly sure, but Im doing some changes right now so I will post them sometime in middle of next week.

[2021-09-04 14:52] apopticon commented on #30
It didn't solve the issue. Installing your version of NMachineSpecificOptions.xml made the fonts so tiny they were unreadable. Think it's time to wipe this install and try again with the newest script version!  The switchable Intel/nVidia graphics in this laptop has been a real problem no matter what OS runs on it.

[2021-09-04 15:22] apopticon opened #81 "Install script error *solved*"
Line 133 of the script - select-dxvk-or-opengl is misspelled and the script dies with not found error.

[2021-09-04 15:25] pulponair commented on #81
@apopticon confirmed. but you can just correct it :)

[2021-09-04 15:25] apopticon commented on #81
I did!

[2021-09-04 15:26] pulponair commented on #81
funny that you run in exact the same issue 3 minutes before me :)

[2021-09-04 15:26] apopticon commented on #81
Just lucky I guess...

[2021-09-04 15:39] pulponair opened #82 "logfile-installation-standard command not found *solved*"
Obviously there is no such function in the script:)

[2021-09-04 15:50] apopticon commented on #81
The script calls select_dxvk_or_opengl but the correct function name is select-dxvk-or-opengl

[2021-09-04 15:51] cryinkfly commented on #82
@pulponair Thank you for this information. 😊👍

[2021-09-04 15:52] #82 closed

[2021-09-04 15:56] cryinkfly commented on #81
@apopticon Thank you for your help. 😊

[2021-09-04 15:56] #81 closed

[2021-09-04 16:06] apopticon opened #83 "Install script error"
Install script dies at line 623: logfile-installation-standard: command not found

[2021-09-04 16:10] apopticon commented on #83
There are functions for logfile-installation  and logfile-installation-custom, but that's it.

[2021-09-04 16:12] apopticon commented on #83
I'm guessing that logfile-installation-standard should actually have been logfile-installation

[2021-09-04 16:12] DJSpray opened #84 "issue installing on Mint 20.2 under a VMWare machine"
Hi and thanks for your amazing work.
I currently run under windows 10 and the only program left not working under linux is Fusion360.
I've been looking at various tutorials (playonlinux, lutris.....) but none seem to work and now I get on your solution that is just amazing in terms of work and package solution! bravo!

still, it does not work on my fresh installed VM. (double click shows working m

[2021-09-04 16:24] cryinkfly commented on #83
@apopticon Have I already changed it or have I overlooked something? 😅😊

[2021-09-04 16:30] cryinkfly commented on #84
@DJSpray You are welcome. 😊

I'll take a look at it. 👍

I just had to change my script before I have seen your post because I had forgotten something in two places due to the restructuring of the scropted. 😅

[2021-09-04 16:34] apopticon commented on #83
This is a second issue, I might have used the same subject though. The script calls logfile-installation-standard, if you change it to call logfile-installation then all is well.

[2021-09-04 16:42] cryinkfly commented on #83
https://user-images.githubusercontent.com/79079633/132102007-0c54a8f5-571b-44a4-a0de-29beb7e6560e.mp4

[2021-09-04 16:46] apopticon commented on #83
I must somehow have a version that's out of sync then...  I have now confirmed that https://raw.githubusercontent.com/cryinkfly/Fusion-360---Linux-Wine-Version-/main/scripts/stable-branch/fusion360-install.sh does reflect the proper function name.  ¯\_(ツ)_/¯

[2021-09-04 16:46] #83 closed

[2021-09-04 17:35] cryinkfly commented on #84
I have tested this into a VM and it works perfectly for me! 👍

![Bildschirmfoto_2021-09-04_19-34-25](https://user-images.githubusercontent.com/79079633/132103487-999728f0-8d56-4033-8a0c-e2d177a15d63.png)

[2021-09-04 18:01] cryinkfly commented on #30
@apopticon Take a look to this issue here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/63#issue-comment-box

[2021-09-04 18:14] DJSpray commented on #84
Damn.....
I have to see why it does so, but at least I know it should :)

Will try again and keep you posted.

On Sat, Sep 4, 2021, 19:35 Steve Zabka ***@***.***> wrote:

[2021-09-04 18:18] apopticon commented on #30
Yes, that's true - Setting HiDPI in fusion does mostly correct that. I had forgotten to toggle that on.

[2021-09-04 18:59] cryinkfly commented on #84
Okay 👍 I will temporarily close this post.

If the problem persists, please re-open this post again here! 😊

[2021-09-04 18:59] #84 closed

[2021-09-05 23:06] Lava3063 opened #87 "Arch Linux (KDE Plasma on Wayland) - Installer crashes after installing dialog and wmctrl"
It just kicks me out. Packages are installed, as it says warning: package is up to date -- skipping.

Using Arch Linux and KDE Plasma on wayland.

[2021-09-06 08:56] cryinkfly commented on #87
@Lava3063 Can you read this post here: https://bbs.archlinux.org/viewtopic.php?id=240397 :+1:

[2021-09-06 09:39] DJSpray commented on #84
Hi Cryinkfly.
just for info, I was tired of trying on VMWare and installed VirtualBox to
give it a try.
worked from the first try!
thanks and sorry again!

Le sam. 4 sept. 2021 à 20:59, Steve Zabka ***@***.***> a
écrit :

[2021-09-06 16:20] Lava3063 commented on #87
It already has --needed in it. Tried removing it, and it still failed. Try adding --noconfirm, and it still stopped.

[2021-09-07 11:44] blazej222 commented on #87
Please replace the bottom part of the script with this code:
[code]
And attach resulting `log.txt` file here.

[2021-09-07 21:13] #18 closed

[2021-09-08 05:42] cryinkfly commented on #87
@blazej222 Thank you for this information! I've looked at it and will build it into it.

[2021-09-08 06:22] blazej222 commented on #87
I've already included it in my upcoming commits, but haven't created pull request yet (still working on some minor tweaks)

Yes, but we can possibly find where it fails (on which function call). I think it would be a good place to start debugging :smiley:

[2021-09-08 06:25] cryinkfly commented on #87
@blazej222 We can also discuss these special things here in the future: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/discussions :smiley:

[2021-09-08 15:37] Lava3063 commented on #87
Reinstalled system after a makepkg issue, and now it suddenly works. No idea what caused it to error last time. Marking as closed.

[2021-09-08 15:37] #87 closed

[2021-09-08 19:34] alexswerner commented on #30
Hi, thanks for putting in the effort and making the setup process so easy - great work.

#### Autodesk Fusion 360

#### Graphics card model:
from `lspci`
`Advanced Micro Devices, Inc. [AMD/ATI] RV610/M74 [Mobility Radeon HD 2400 XT] `
(an 2008 iMac - so rather old)

#### Graphics card driver (Version number)
from `glxinfo`
[code]
It's using the radeon kernel driver, from `dmesg`:
[code]
... bit lo

[2021-09-10 05:50] NZRosto commented on #73
I too have this issue, I am running fusion360 on PopOS using Nvidia Drivers. I have tried both OpenGL and DX9 modes, clean installs both times, and no change. I feel that the interface is marginally better using DX9, however both modes have the selection and highlight problems.

[2021-09-10 20:05] Tony763 commented on #30
Hi, there is my setup:
Dell Inspiron 5501 with intel i7-1165G7 and Nvida Geforge MX330.
Ubuntu 21.04 X64 11GB RAM 2TB nvme ssd Xorg.

I use Nvidia when traveling. At home and work I have M.2 > PCIe 16x dock from [Aliexpress](https://www.aliexpress.com/item/33050886328.html) with:

Asrock RX5600 XT 6GB
HP Radeon Pro WX 7100 8GB

For switching between graphics I use [karli-sjoberg/gswitch](https://g

[2021-09-10 20:08] Tony763 commented on #30
Hi @alexswerner, for me, Fusion logo stays visible always when any version of directx is set in Preferences. Check if you have a OpenGL set.

[2021-09-11 00:28] ThisIsTheOnlyUsernameAvailable opened #88 "Script bug -- typos in fedora installation functions *solved*"
Hi!

Fantastic solution you have developed.  Thanks so much for your contribution to the community.

Note that you have a small naming typo in the fedora installation methods on lines 512 and 518.  You've used underscores to name the functions, but call them with hyphens.  Renaming the functions results in a perfect install.

[2021-09-11 01:24] cryinkfly commented on #88
@ThisIsTheOnlyUsernameAvailable Thank you for this report! ✅ I have changed these lines. 👍

[2021-09-11 01:24] #88 closed

[2021-09-12 00:55] ojthetiny opened #89 "Sketch selection"
Has some major issues with certain parts of a sketch not being selectable without selecting the entire sketch which defeats the entire sketch useless and the program unusable. I don't know what this is about as it's happening on both dxvk and opencl drivers.

[2021-09-12 15:15] iadegesso opened #90 "Gentoo dependency typo"
Hi, in your script you have a type for Gentoo:
- _dev-utils/dialog_ is wrong and must be changed to **dev-util/dialog**

Iade Gesso, PhD

[2021-09-13 05:27] blazej222 commented on #89
Possible duplicate of #66 and #73. What drivers and OS are you using? Can you provide photos/videos of what exactly happens? Does the program select the objects, but won't highlight them (you can check by selecting and doing move operation for example), or is it completely impossible to select some objects?

[2021-09-13 14:23] cryinkfly commented on #90
@iadegesso Thank you for this information! :+1:

[2021-09-13 14:23] #90 closed

[2021-09-13 14:25] cryinkfly commented on #89
@ojthetiny Please check the other issues https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/66 and https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/73 + answer there of this question:

[2021-09-13 14:25] #89 closed

[2021-09-14 09:48] syfq91 opened #92 "Script terminate after installing/checking for "dialog" & "wmctrl" packages"
Re-run the script does not help, it still stops at the same place.

Below is the terminal output:

[code]

Any idea how to proceed?

OS version: Ubuntu 21.04 64-bit
Windowing system: Wayland

[2021-09-14 14:25] cryinkfly commented on #92
Hey @syfq91 🙂 I think you have the same issue like this one: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/87

But the only thing is that this user use Arch Linux. 😉

[2021-09-15 00:42] alexswerner commented on #30
Hi @Tony763. I checked this, but it is indeed set to 'OpenGL Core Profile'. I also confirmed that the logo is not just overlapping the model. It seems that it's really not drawing any polygons.

[2021-09-15 05:31] TN-1 commented on #92
I believe I have identified and fixed this issue. I have created a PR to fix. @syfq91 Please try again with the fix list in the PR.
Simple typo, missing a &&

[2021-09-15 05:33] TN-1 commented on #92
If my PR fixes this issue, then that will be a different bug. This should only affect Ubuntu 21.04 users.

[2021-09-15 06:09] TN-1 commented on #92
Ok I have tracked this issue down properly and confirmed the fix. It is contained in #94
I don't know why this extra echo fixes the script, but I had it in there for a debug message and it solved it. Technology amiright?

[2021-09-15 06:36] TN-1 commented on #73
Have eiither @NZRosto or @blazej222 tried to use DXVK?

[2021-09-15 06:40] NZRosto commented on #73
I am using DX9 through DXVK I think, still got the issue using DXVK with DX9 and OpenGl

[2021-09-15 06:41] syfq91 commented on #92
Thank you everyone for the help. I can confirm that adding echo fixed this issue. It is installing now.

[2021-09-15 08:05] blazej222 commented on #73
I've tried DXVK, native DX9 wine emulation and OpenGL. Still same issue.

[2021-09-15 14:26] #92 closed

[2021-09-15 14:40] cryinkfly commented on #73
@NZRosto and @blazej222 Okay, that's interesting. 🧐

[2021-09-15 15:00] cryinkfly commented on #9
Not yet. But I'm working on it. :+1:

[2021-09-15 21:42] fradinni commented on #73
Same issue here, RTX 3080 with Nvidia proprietary drivers installed on latest version of Linux Mint, tried with DX9 or OpenGL, laggy selection and highlight problems.

[2021-09-17 02:45] TN-1 opened #98 "Optimisation: Automate checking for multilib on arch"
[code]

The above step could be replaced by a well crafted if and grep statement, checking if the multilib line exists and is uncommented. If so, archlinux-2. If not, then prompt the user to confirm the change then archlinux-2.

In pseudocode:

[code]

Happy to take care of this if nobody else (who actually use arch) wants to and if @cryinkfly approves the change.

[2021-09-17 06:00] blazej222 commented on #98
I actually had this issue on my PC

[code]
Didn't open github issue on it because I thought it was related to some of changes I had previously made to sudo on my system, but apparently same thing happened on fresh arch install in VM. I was going to further investigate the problem tomorrow and fix it, but keep that issue in mind when testing your upcoming changes :)

[2021-09-17 19:19] blazej222 commented on #73
I've noticed something interesting when running fusion from the terminal

[code]
I have no idea what it means, but maybe it is related somehow?

[2021-09-18 07:06] cryinkfly commented on #73
@blazej222 Thank you for this post here: https://forums.developer.nvidia.com/t/autodesk-fusion-360-on-wine-glitches-only-when-using-proprietary-nvidia-driver/189560 :+1:

I hope that maybe someone there can help with our problem. 💡

[2021-09-19 17:08] Lik3Hackdev opened #100 "ERROR 503: Service Temporarily Unavailable."
There is a issue with downloading the archives .
I think the links in the bash script were expired or does not exist.
Please update these. If it is not the problem _please look up on this as fast as possible because I was  believing on these projects to make my cad models_

This Problem also bugs the **Solidworks installer**
[installer-log.txt](https://github.com/cryinkfly/Fusion-360---Linux-Wine-

[2021-09-19 20:17] cryinkfly commented on #100
@Lik3Hackdev Thank you very much for this information, but I have looked into your log file and found out that this problem is a temporary issue with no connection to the server for downloading the winetricks packages! ⚠️

This issue can sometimes exist when server is down for working or a update and so you must wait for it. ⚙️

Please test the installation later. 😊

… and I testing this tomorrow

[2021-09-19 21:03] blazej222 commented on #73
I've also written posts on Arch forums and Wine forums, anyone interested might share more information here (or maybe bump the threads :smile: )
https://bbs.archlinux.org/viewtopic.php?id=269733
https://forum.winehq.org/viewtopic.php?f=8&t=35678

[2021-09-20 09:23] cryinkfly commented on #100
### So, I have checked the connections to servers and it works! :+1:

![Bildschirmfoto_2021-09-20_11-18-20](https://user-images.githubusercontent.com/79079633/133980666-f0c83b24-f6b0-4314-8936-c729be795be5.png)

![Bildschirmfoto_2021-09-20_11-18-49](https://user-images.githubusercontent.com/79079633/133980700-4176fa13-cb85-4d4f-8f23-d68502f3892b.png)

[2021-09-20 09:23] #100 closed

[2021-09-20 09:48] Lik3Hackdev commented on #100
Yes I think you are right today I reran the script and all worked fine It installed successfully. The servers would have been down when I was running the script.

[2021-09-23 11:31] TN-1 commented on #98
@blazej222 PR #101 implements a fix for that issue. See the link below for further info on the bug.
https://stackoverflow.com/questions/10134901/why-sudo-cat-gives-a-permission-denied-but-sudo-vim-works-fine
Cheers.

[2021-09-23 11:33] #98 closed

[2021-09-23 12:35] TN-1 opened #102 "Code refactor"
Would there be any objection to a code refactor to make things a bit more organised and commented?
Not that there is anything wrong with the code base as it is, on the contrary it is quite well organised.
However things like function names could be made a bit clearer, code comments could be more verbose, the sort of thing that just helps to make the code more readable.
As a proof of concept, [have

[2021-09-24 07:37] Greenscreener opened #103 "Drawing workbench has empty screen and is unresponsive"
Hello,

**Describe the bug**
When I create a new drawing, it does get created, but the screen is blank and all of the UI becomes unresponsive to click events (but weirdly not hover events, the UI reacts to hovering on buttons just fine).

**To Reproduce**
Steps to reproduce the behavior:
1. Open Fusion 360
2. Create an object
3. Create a drawing

**Expected behavior**
Being able to interact with t

[2021-09-24 08:22] cryinkfly commented on #102
I think this is a good idea and so I will change my script! :+1:

[2021-09-24 08:37] cryinkfly commented on #102
I have changed my script! :1234:

[2021-09-24 08:37] #102 closed

[2021-09-24 09:32] cryinkfly commented on #103
Okay can you download my new script (Flatpak), then I have changed a lot of things! 🙂

[2021-09-26 11:21] cryinkfly opened #104 "Bug by install the extensions *solved*"
At the moment it's so when you select a extension and you click on install then the installer skip my functions for installing the extensions!

[2021-09-26 12:27] #104 closed

[2021-09-26 13:44] cryinkfly opened #105 "Extension Manager install all plugins *solved*"
At the moment all plugins are installed regardless of whether they are selected or not!

[2021-09-26 21:48] se3d opened #106 "Cant install"
There are a lot of erros on Linux Mint LDME4  (based on debian 10).

[...]
Hit:1 http://security.debian.org buster/updates InRelease
Hit:2 http://dl.google.com/linux/chrome/deb stable InRelease
Hit:3 https://deb.opera.com/opera-stable stable InRelease
Ign:4 http://mint-packages.c3sl.ufpr.br debbie InRelease
Hit:5 https://deb.debian.org/debian buster InRelease
Hit:6 https://deb.debian.org/debian bu

[2021-09-27 07:02] cryinkfly commented on #106
This error what you get is your configured repository:

The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 3CB9FD148F374FEF
Reading package lists... Done
W: GPG error: http://linuxcnc.org buster InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 3CB9FD148F374FEF
E: The repository 'http://linuxcnc

[2021-09-27 07:39] Greenscreener commented on #103
Sorry for replying this late.
I used the newest version of the flatpak installer, directly from `main`. I had to go through it and execute all the commands manually, because a lot of them failed (for instance because I don't have the `Downloads` folder).

But yes, that's it! Somehow, just by opening Fusion360.exe instead of FusionLauncher.exe fixed the problem!
![image](https://user-images.githubu

[2021-09-27 07:39] #103 closed

[2021-09-27 11:39] #106 closed

[2021-09-28 16:11] #105 closed

[2021-09-29 14:58] b-desconocido opened #107 "UHD display and Fusion 360"
Hello. I have a high DPI 4K monitor and using Fusion 360 is next to impossible due to bad UI scaling - icons and text are way too small. System UI scale is set to 200%, it doesn't seem to affect Fusion 360 at all. I also tried to adjust DPI with **winecfg**, but it didn't help much, as it only affects only tiny amount of the on-screen text, but icons, tools and most of UI text aren't affected at a

[2021-09-30 08:46] midtbo opened #108 "Drawing won't start *solved*"
Hi,
Just want to start with the fact that this is what i need to be able to get rid of windows on my computer!
I do really apreciate the work you guys do here.

So my problem is that i cant get drawing to start.
![image](https://user-images.githubusercontent.com/16806739/135418493-6b8150cf-a57a-4e69-9645-32b6cc9dc974.png)

I have tried to look through everyting in the RAEDME searched all the issue

[2021-09-30 14:06] cryinkfly commented on #108
Hey 👋🏻, wir you have installed the standard installation of Autodesk Fusion 360?

[2021-09-30 15:23] midtbo commented on #108
I have installed the standard version, without any adons.
Not sure which launcher i did start. The video in your link seems to be removed.

[2021-09-30 16:08] cryinkfly commented on #108
Can you run this command:

    env WINEPREFIX="/$HOME/.wineprefixes/fusion360" wine C:\\windows\\command\\start.exe /Unix /$HOME/.wineprefixes/fusion360/dosdevices/c:/ProgramData/Microsoft/Windows/Start\ Menu/Programs/Autodesk/Autodesk\ Fusion\ 360.lnk

[2021-09-30 16:17] cryinkfly commented on #107
### If you have activated this option here:

![HighDPIScaling](https://help.autodesk.com/sfdcarticles/img/0EM3g000001yKF7)
Bildquelle: www.knowledge.autodesk.com

### ... and I understood correctly, that you also have configured _winecfg_ so:

![Bildschirmfoto_2021-09-30_18-17-28](https://user-images.githubusercontent.com/79079633/135493016-69ad1850-3d01-4949-869e-7290b5492a4a.png)

[2021-09-30 16:20] midtbo commented on #108
That worked!!!
![image](https://user-images.githubusercontent.com/16806739/135493284-504ff639-1b36-4dbc-b6c1-ccf8a4771c50.png)

How do i get this into the .desktop shortcut?

[2021-09-30 16:28] cryinkfly commented on #108
https://user-images.githubusercontent.com/79079633/135494610-0b0b37a4-1ddc-4121-b5cf-65d300f8f357.mov

[2021-09-30 16:29] #108 closed

[2021-09-30 16:31] cryinkfly commented on #17
Here is another issue: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/issues/108

[2021-09-30 18:15] b-desconocido commented on #107
I tried 3 options:
1) Just 200% scale in GNOME display settings: nothing changed in Fusion 360
2) 200% scale + 240 DPI in winecfg: some text and labels are scaled up, still unusable though. Dimensions, icons and buttons are tiny.
![Screenshot from 2021-09-30 21-08-44](https://user-images.githubusercontent.com/6784460/135508516-43d78461-cebe-4d4d-82b1-b0eb451b6490.png)
3) 200% scale + 240 DPI in wi

[2021-09-30 18:32] b-desconocido commented on #107
Windows 10:
![image](https://user-images.githubusercontent.com/6784460/135511361-4916cb72-981f-43cf-9b55-3729ee470aa6.png)

[2021-09-30 18:50] cryinkfly commented on #107
Okay and when you only use / activate the High DPI scaling in Autodesk Fusion 360?

[2021-09-30 22:47] b-desconocido commented on #107
@cryinkfly it doesn't scale UI:
![Screenshot from 2021-10-01 00-49-47](https://user-images.githubusercontent.com/6784460/135535679-44b44a3f-c751-4145-b51f-3f85e664408b.png)

Combination of winecfg and Fusion 360 high dpi option scales UI correctly, but there are some rendering issues.
- Only bottom left part of viewport is updating, it happens for no obvious reason.
- After I close data panel, fus

[2021-10-01 04:46] cryinkfly commented on #107
Okay that’s very interesting. 🤔

[2021-10-01 12:27] b-desconocido commented on #107
@cryinkfly Switching renderer from OpenGL to DX9 fixes the viewport issue, it works fine with winecfg + fusion high dpi checkbox:
![Screenshot from 2021-10-01 15-26-20](https://user-images.githubusercontent.com/6784460/135619608-0ef98398-9189-4f10-ae8f-741580801c28.png)

After minimizing Fusion 360 all windows (Browser, Navigation Bar, etc) are lost until I disable and re-enable them. Also, Fusion

[2021-10-01 13:08] Tony763 commented on #107
Hi, wine debug say:
[code]
We will have to wait for wine developers to implement it.

[2021-10-01 13:14] b-desconocido commented on #107
@Tony763 somehow it works fine (ish) with DX9 renderer as I mentioned above. It is usable :)

[2021-10-01 13:48] cryinkfly commented on #107
@b-desconocido I have added you graphics card to my liste here: https://github.com/cryinkfly/Fusion-360---Linux-Wine-Version-/wiki/Supported-Graphics-Cards :+1:

[2021-10-02 13:11] b-desconocido commented on #107
@cryinkfly I have yet another update. HighDPIScaling isn't compatible with **dxvk**

[2021-10-02 15:22] Tony763 commented on #107
I can confirm that, without dxvk, fusion run without problem with logo, but for my setup, fusion become much less responsive.

[2021-10-03 02:10] Project-Scorch commented on #30
Autodesk Fusion 360 = 2.0.11186
    Graphics card model = NVIDIA GeForce GTX 1650
    Graphics card driver = 470.63.01
    Operating system =  Ubuntu 20.04.3 LTS
    Desktop environment =  Gnome 3.36.8
    OpenGL-Mode

works well have a couple of the already listed bugs primarily crashing on close and lag and incorrect selection and incorrect rendering of extrusion distances besides that installat

[2021-10-05 01:30] dantahoua commented on #30
Fusion 360: 2.0.11186
Graphics card model = Intel XE Integrated (i7 11th gen) - Mesa Intel® Xe Graphics (TGL GT2)
Graphics card driver = 5.14.3-051403-generic
Operating system =  Pop Os 21.04
Desktop environment =  Gnome 3.38.5
Direct-X mode

Crash on quit. Very laggy but usable. :)

[2021-10-08 02:46] paperfurball953 opened #110 "Won't Launch (Extensions) - Update or Repair"
I have running Pop OS 21.04 and i used the script everything seemed to of went fine and now when ever i try to open it it simply does nonething (yes i allowed launching), by nonething it seems to do something because i can see wine start up in the system monitor but after a couple of seconds it just closes. I dont know if this would have anything to do with it but i did select to install robodk at

[2021-10-08 16:15] vasiaplaton opened #111 "Can't open Fusion 360 after normal install. - External Drive *solved*"
Hello. I'm install fusion360 by your script in another folder(in this case in /media/vasia/HDD1TB/Fusion360/), and installing done without errors. After installing, I'm clicking on icon in menu, and nothing happen. Next, I'm open .desktop command file and open paste command in Exec= in terminal. When started  from terminal it open small Wine window with text "File not found". Here's terminal outpu

[2021-10-09 07:50] #110 closed

[2021-10-09 09:15] cryinkfly commented on #111
Can you open a terminal and run this command:

    $(find /media/vasia/HDD1TB/Fusion360 -name Fusion360.exe -printf "%T+ %p\n" | sort -r 2>&1 | head -n 1 | sed -r 's/.+0000000000 (.+)/\1/')" && WINEPREFIX="$HOME/.wineprefixes/fusion360" wine "$fusion360starter"

[2021-10-09 15:39] vasiaplaton commented on #111
Hello, thanks for answer. Here's output

      vasia@vasia-pc:~$ fusion360starter="$(find /media/vasia/HDD1TB/Fusion360 -name Fusion360.exe -printf "%T+ %p\n" | sort -r 2>&1 | head -n 1 | sed -r 's/.+0000000000 (.+)/\1/')" && WINEPREFIX="$HOME/.wineprefixes/fusion360" wine "$fusion360starter"

      002c:fixme:winediag:LdrInitializeThunk wine-staging 6.18 is a testing version containing experiment

[2021-10-10 10:04] #111 closed, assigned to nobody

[2021-10-10 16:24] buteomont opened #112 "Fusion360 won't launch with the .desktop file *solved*"
I get a dialog when trying to launch Fusion 360 from the menu item. It says:

Could not launch 'Autodesk Fusion 360'
Failed to change to directory "/$HOME/.local/share/-
fusion360" (No such file or directory)

I did choose the standard installation.

If I run "./.local/share/fusion360/launcher.sh" from the command line, it appears to start (haven't gotten past the login screen yet), but I also get

[2021-10-10 17:11] buteomont commented on #112
It appears to launch, but I also get similar errors.  Also, I've discovered that I can't end Fusion360 by clicking the X button, it just hangs.  Here's the errors I get:

[code]

[2021-10-10 17:58] buteomont commented on #112
No, it doesn't start at all.  Just displays this and hangs until I press ctl-c:

[code]

[2021-10-11 01:06] buteomont commented on #32
My home folder doesn't have a .fusion360 folder.  has this changed?

[2021-10-11 06:00] cortices commented on #112
I have the same issue. Pretty sure the problem is the leading slash -- executing `bash $HOME/.local/share/fusion360/launcher.sh` works just fine, but the same with leading `/` doesn't.

[2021-10-11 06:30] cortices commented on #112
Hang on, that's not it. According to `desktop-file-validate`, the Path key must be an absolute path -- you'll have to substitute in the $HOME value when writing the file.

[2021-10-11 06:46] cortices opened #115 "Uninstall option fails with rmdir *solved*"
When choosing the uninstall option from the fusion360-installer.sh script, it errors and fails trying to run `rmdir` on a non-empty directory. Instead, `rm -rf` should be used.

**To Reproduce**
Steps to reproduce the behavior:
1. Open installer
2. Select uninstall option
3. Enter correct install location

**Expected behavior**
Effective uninstallation

**Desktop (please complete the following inf

[2021-10-11 07:16] cortices opened #116 "Failure to render document area with Radeon graphics card"
Keeping track of info regarding my gfx issues here.

**Desktop (please complete the following information):**
Autodesk Fusion 360: 2.0.11186
Graphics card model: AMD ATI Radeon HD 8670 / R7 250/350
Graphics card driver: see below
Operating system: Debian 11
Desktop environment: X11, lightdm, i3-wm
OpenGL Mode

**LSPCI Output for graphics card**
[code]

**Mesa driver info**
[code]

[2021-10-11 08:04] cortices commented on #116
Got the issue fixed!
I already had the `xserver-xorg-video-amdgpu` package installed but hadn't activated it.
Simply running
[code]
And rebooting, resulted in the following much better results from `glxinfo -B`:
[code]

[2021-10-11 20:23] buteomont commented on #112
Well, **6.0.1** *is* the latest *stable* version.  To me, using a development or staging version is just asking for trouble unless you're one of the Wine developers or early adopters, or your application requires something that's not in the stable version.  Perhaps a better approach is to check for an existing version, and only upgrade if it's not the latest (after asking permission, of course).

[2021-10-14 14:03] #115 closed

[2021-10-14 21:45] sixxxis commented on #112
@cryinkfly as you wrote the wine version 6.5 must be installed, but how to do that? I tried the stable branch, thats 6.01 ; i tried the staging branche thats 6.19

[2021-10-15 07:37] nonchip opened #117 "script guesses distro by package managers before asking *solved*"
on some distros, you can install additional package managers, for example on my Void Linux i have pacman for managing a very specific project, but not as the main package manager (that's done by xbps-install). it's also relatively common to install e.g. apt or dpkg on non-debian-based distros to be able to work with things that were e.g. packaged for ubuntu.

when your script asks to install wmctr

[2021-10-16 16:17] Javokhir169 opened #118 "Executing load_msxml4 failed while installation *solved*"
Received an error:

[code]

[2021-10-16 17:20] #118 closed, assigned to nobody

[2021-10-20 05:51] hasmar04 opened #119 "Installation Script forces the use of wine over wine-staging"
**Bug Description**
When installing Fusion 360, the script requires wine to be installed. On Manjaro, this conflicts with wine-staging, which I had installed, meaning to use this script I had to uninstall wine-staging.

**To Reproduce**
1. Start script
2. Let it install required packages
3. Prompt appears to remove the conflicting package wine-staging

**Expected behavior**
The installer only requ

[2021-10-20 05:56] hasmar04 opened #120 "Fusion 360 Installer EXE not removed after installation is complete"
**Describe the bug**
After a successful installation, the installation EXE within ~/.wineprefixes/fusion360/fusion360download is still present, taking up around 1GB of storage space.

**To Reproduce**
1. Install Fusion 360
2. Navigate to folder ~/.wineprefixes/fusion360/fusion360download (or the custom installation location)

**Expected behavior**
The installation EXE is removed post-install if su

[2021-10-20 18:06] #117 closed, assigned to nobody

[2021-10-21 15:40] cryinkfly opened #121 "Extension Manager doesn't install all selected options! - Alpha Version *solved*"
When I run the manager-extensions-standard or manager-extensions-custom into the fusion360-setup-wizard.sh then the Extension Manager doesn't install all selected options! ([Alpha version](https://github.com/cryinkfly/Autodesk-Fusion-360-for-Linux/releases/tag/v4.9))

But when I run only manager-extensions-standard or manager-extensions-custom in a separate file then the Extension Manager install

[2021-10-22 14:53] #121 closed, assigned to cryinkfly

[2021-10-31 19:39] teackot commented on #32
.wineprefixes/fusion360

[2021-11-02 19:59] Lotharyx opened #123 "Fusion 360 Crashes After Login *solved*"
After installing Fusion 360 under Wine, it gets as far as letting me log into my Fusion 360 account, and then seems to hang for a while before eventually producing Autodesk's crash reporting dialog.  Subsequent attempts to run the program skip over login (assuming it remembers my info) and just crash.

**To Reproduce**
Run the launcher.  I've been pasting the command into a terminal to see output,

[2021-11-03 13:49] LukasKraehling opened #124 ""GLXBadFBConfig"-Error on Startup - ZorinOS16 - Intel Core i7-3740QM"
### Problem/Bug:
F360 does not start on my system, I don't see any GUI and the console spits out following errors:
![F360-Startup-Error_ZorinOS16_i7-3740QM](https://user-images.githubusercontent.com/26366928/140070583-4655635e-0c8a-48c5-b5d9-96f187eddd4b.png)

The error happens on both the Vulkan- and OpenGL-Variant.

### My System:
**System:** Dell Latitude E6430
**OS:** ZorinOS16 (64-Bit)
**CPU:

[2021-11-03 17:18] cryinkfly commented on #123
@Lotharyx Hey , it will be good for me when you can create a log file. Then I can help you better. :+1:

Here you get more information about creating a log file:
-  https://github.com/cryinkfly/Autodesk-Fusion-360-for-Linux/wiki/Documentation#developers

For example:

    xterm -hold -e "cd $HOME/.local/share/fusion360 && bash launcher.sh &> wine-error.log"

[2021-11-03 17:29] cryinkfly commented on #124
Hey @LukasKraehling 👋

Can you check in these folders (Example):

- $HOME/.wineprefixes/fusion360/drive_c/users/$USER/Application Data/Autodesk/Neutron Platform/Options
- $HOME/.wineprefixes/fusion360/drive_c/users/$USER/AppData/Roaming/Autodesk/Neutron Platform/Options

... the NMachineSpecificOptions.xml files if they are correctly configured! :+1:

[DXVK](https://github.com/cryinkfly/Autodesk-F

[2021-11-03 17:33] cryinkfly commented on #119
Hey @hasmar04 👋,

in the next Update I hope that I can give you choise for skipping this issue so, that you have two options:

- 1: Install wine from the standard repository (system)
- 2: Install wine from the custom repository (installer)

I hope you can wait a little time. 😉🙂

[2021-11-03 17:35] cryinkfly commented on #112
I have solved this problem with the last version of my Setup Wizard! :+1:

[2021-11-03 17:35] #112 closed

[2021-11-03 20:16] hasmar04 commented on #119
But will that allow for the choice between wine and wine-staging in the official repositories?

[2021-11-04 19:00] LukasKraehling commented on #124
![image](https://user-images.githubusercontent.com/26366928/140402814-7efeaeb3-7f5a-47ee-98a3-fa6a9abc95ec.png

Did not help, I tried both APIs before. I copied the DXVK config into the file, but no change.

[2021-11-04 19:38] cryinkfly commented on #119
@hasmar04 Yes, I will offer different options, similar to the DXVK and openGL method. :+1:

[2021-11-04 19:48] cryinkfly commented on #124
Oh okay, I see thta you have some problems with the GLXBadFBConfig! 😉

Please, check this post here: https://forums.linuxmint.com/viewtopic.php?t=356491

Because there it's described so that you must change or overwrite the MESA_GL_VERSION.

---

For example:

![MESA_GL_VERSION_OVERRIDE](https://user-images.githubusercontent.com/79079633/140409355-d9a716ba-bcd2-46e6-8002-c91e0fd9d986.png)

[2021-11-06 13:57] LukasKraehling commented on #124
So, I really tried to get at least 4.4 running, but it seems like I can only go up to 4.2...
I think it could be related to Mesa 21.0.3 running on my system.
Any Ideas ?

[2021-11-06 16:50] vikingsraven opened #125 "No background only fusion 360 logo *solved*"
No workspace background appearing only the fusion 360 logo, even if model loaded or new skecth started

![Screenshot from 2021-11-06 15-42-26](https://user-images.githubusercontent.com/11271233/140617242-97df4d87-b75a-4161-8c4d-09d5d59fc73a.png)

Linux Mint  20.2 cinnamon (5.0.6)
kernel 5.4.0-89 generic
NVidia GTX750 ti  driver nvdia 470.74-0ubuntu0.20.04.1
AMD a10-0700 Radeon R7

Errors spotted o

[2021-11-06 17:08] vikingsraven commented on #125
just watched the video on ubuntu and the software , change wine cfg to windows 10 and did the library diable and builtin, still no screen, went to prferences and selected open gl and it now works!

[2021-11-06 17:11] thulle opened #126 "Gentoo installation reinstalls installed packages *solved*"
When the installer script installs packages on gentoo with the lines:
 	function gentoo-linux {
	    sudo emerge -av virtual/wine ...
	}

It will reinstall any of those packages that are already installed.
Changing it to "sudo emerge -nav ..." where -n is:
       --noreplace, -n
              Skips the packages specified on the command-line that have already been in‐
              stalled.

shorte

[2021-11-06 21:44] thulle opened #127 "White window on login-prompt after splashscreen - Gentoo"
After installation, running fusion360 shows the splashscreen as intended, but after that only presents a white window where the login prompt should be IIRC.

![2021-11-06-223622_1295x852_scrot](https://user-images.githubusercontent.com/1105866/140624533-131054d3-a4da-4e02-97d3-bf291e00aefb.png)

Desktop:
OpenGL install on Gentoo & Fluxbox, using a nvidia 3080, drivers 470.82.00. Kernel 5.14.16, me

[2021-11-07 13:42] HaWr1 commented on #123
Hi,

i stumbled over the same problem, exactly as described by @Lotharyx.

**Desktop (please complete the following information):**
- Fusion 360 version - don't know, can't get to its about dialog because of this issue
- NVIDIA Quadro P600, driver version 470.74
- Kubuntu 20.04
- KDE Plasma 5.18.5
- DXVK- or OpenGL-Mode: Installed Fusion360 some time ago. I cant remember what I picked.

Here is my

[2021-11-07 15:52] Lotharyx commented on #123
Thank you for your quick engagement!  I have been busy with other things but will try to get a log this week.

[2021-11-08 08:13] cryinkfly commented on #126
@thulle Thank you very much for this information. :+1:

[2021-11-08 08:13] #126 closed

[2021-11-08 08:16] #125 closed

[2021-11-08 08:20] cryinkfly commented on #127
@thulle Can you check another desktop environment like Xfce? Maybe Fluxbox is the problem. 🙂

[2021-11-08 08:27] cryinkfly commented on #124
Okay. Can you switch to the newest version (Mesa 21.2.5)?

[2021-11-08 16:47] LukasKraehling commented on #124
Great ! I was able to upgrade to Mesa 21.2.5 and now F360 starts successfully ! I am still not able to push the MESA_GL_VERSION_OVERRIDE further than 4.2, but I don't need to anymore, so it's all good. :) Thx for the great support !

[2021-11-08 16:47] #124 closed

[2021-11-08 19:07] tinywrkb commented on #127
@cryinkfly I'm also hitting a blank window issue, though in a different environment and not using the provided installation script.
It would be very helpful for debugging if relevant logs (Wine's output, Fusion logs from AppData) of a working 1st run, up until login, will be posted, maybe as a sticky post in the discussions.

[2021-11-09 02:02] Lotharyx commented on #123
The launcher.sh script in my ~/.local/share/fusion360 directory doesn't work, so this is the command I used to capture a log.  For some reason, a few lines still escaped to the console despite redirecting both stderr and stdout; I have included them below.

[code]
Lines that appeared in the terminal anyway:
[code]
wine-error.log is attached.
[wine-error.log](https://github.com/cryinkfly/Autodesk-F